[2013-06-08 19:38] PipelineBaron opened #1 "A reactive episode w/ RxJs"
https://github.com/Reactive-Extensions/RxJS

What is reactive?
Why reactive instead of streams?
Use cases.

https://twitter.com/mattpodwysocki << Maintainer
https://twitter.com/substack << Substack would be cool for feedback on VS streams

[2013-06-08 19:51] dshaw commented on #1
Nice! @mattpodwysocki is awesome. There are several way we could go with this.

[2013-06-08 20:06] skw opened #2 "CoffeeScript by CoffeeScripters show."
## 2/13/14 at 11:00 AM PT
### [NodeUp #60](http://nodeup.com/)

With:
- @dshaw
- @brettkiefer
- @mcculloughsean
- @davidguttman
- @spikebrehm

Topics:
- Best-practices to have CoffeeScript in node modules?
- Thoughts on node.js + CoffeeScript, does it have a place?
- Is there a workflow for some JS/CS devs working on the same project?
- Compile to JS before publishing to npm.
  - https://groups.go

[2013-06-08 20:40] astro opened #3 "Distribute podcast with BitTorrent"
This is an invitation. node is open source, Bitlove.org is free software, perfect fit!

[2013-06-08 20:43] dshaw commented on #3
Cool. If @floating wants to set this up, I think it's great.

[2013-06-08 20:44] dshaw commented on #2
Thanks for creating the issue for this!

[2013-06-09 05:06] mhart commented on #2
Perhaps it could be a general "transpiling" show chatting about compiling into JS from any lang, ie try and get some TypeScript people in, code contract libraries, JSX, hell even browserify transpiles.

[2013-06-09 05:11] skw commented on #2
Forgive my ignorance, but I was under the impression that typescript never really caught on, I haven't seen it in any node module sources. I would gladly be corrected.

[2013-06-09 05:14] dshaw commented on #2
@mhart Good idea, but probably a separate show.

[2013-06-09 05:15] mhart commented on #1
Yeah definitely - I've seen a lot of stream alternatives popping up on GH - perhaps too many are in their infancy (RxJS aside), but I'd love to hear about them. A lot of the newer ones seemed to grow out of issues with Streams2 as well.

Things like https://github.com/dominictarr/pull-stream from @dominictarr and https://github.com/creationix/min-stream from @creationix

[2013-06-09 05:27] dshaw commented on #1
@mhart Oooh, nice. Alt Streams sounds like fun. Let's create a new show for that too. Probably with @isaacs too.

[2013-06-09 05:30] dshaw commented on #3
I've heard that the file is especially slow to download in Europe, mostly heard this from Germany. @janl and others. I'd still like to move to SoundCloud because it open things up for inline comments. I think that would be fun.

[2013-06-09 11:51] dominictarr commented on #1
pull-streams and min streams are very similar, actually.

Would also be worth covering https://github.com/gozala/reducers so maybe
we'd want to get gozala in on such a show.

On Sun, Jun 9, 2013 at 7:27 AM, Daniel Shaw notifications@github.comwrote:

[2013-06-10 06:33] jcspencer opened #4 "A show about running node in production"
A show about running node in production would be awesome!

[2013-06-10 13:22] diversario commented on #4
One of the specific things about running in production, IMO, is configuration - how do people manage configuration? How are changes propagated? Are services being restarted every time there's a change or is it hot reload? Stuff like that.

[2013-06-12 23:45] mattpodwysocki commented on #1
I'd love to talk streams and FRP in addition to RxJS. Could be a fun show!

[2013-06-13 18:42] dominictarr commented on #1
yeah, that would be a good angle: Streams meets FRP

[2013-06-13 19:23] creationix commented on #1
I think I've finally stabilized my min-stream + continuable style APIs, so
if we talk about that, it shouldn't change the next week like it's been
doing the last few months.

Lots of FRP stuff, but with node style back-pressure and functions
everywhere!

On Thu, Jun 13, 2013 at 1:42 PM, Dominic Tarr notifications@github.comwrote:

[2013-06-14 03:00] DamonOehlman commented on #1
Sounds good guys - definitely looking forward to this episode.  Is it worth getting @isaacs in on the action too, as I guess I'm interested in a constructive discussion as to where Streams2 is falling down.

[2013-06-19 09:07] mhart commented on #2
@skw it's still under active development, cf: http://blogs.msdn.com/b/typescript/archive/2013/06/18/announcing-typescript-0-9.aspx

[2013-07-02 09:40] dshaw opened #5 "Streams.next/min"
Panel:
- @isaacs
- @dominictarr
- @creationix

Topics:
- Events emitter-less streams [izs]
- Pull streams [dt]
- Min streams [dt]
- Min streams / continuable [tim]

[2013-07-02 09:48] dshaw opened #6 "NodeConf 2013 Retrospective"
## Friday 7/5 Noon PT
### [NodeUp #47](http://nodeup.com/fortyseven)

With:

~12:00-12:30
- @othiym23
- @hueniverse
- @rockbot

~12:30-1:00
- @rvagg
- @glennblock
- @kenperkins

Topics:
- The NodeConf experience.

[2013-07-02 09:49] dshaw commented on #6
Suggestions for attendee?

[2013-07-02 10:40] dshaw opened #7 "NodeUp Teams: Learnboost / CloudUp"
With:
- @guille
- @tootallnate
- @visionmedia

[2013-07-02 13:56] creationix commented on #5
I've never been on nodeup.  What do I need to do for this?  Also I'm honored to be in the list.

[2013-07-02 15:01] othiym23 commented on #6
It would be good to have an attendee perspective on the conference. The camp counselors are all going to have the same incomplete POV because we were either pinned to our classrooms or running around making stuff happen. Somebody like @joliss, @brycebaril, or one of the &yet Adams?

[2013-07-02 15:03] othiym23 commented on #6
Oh duh you already said attendee.  Brain no worky sorreeeee. :tada: :cat2: Anyway those are my suggestions.

[2013-07-02 15:26] creationix commented on #5
Also, just a heads up, but based on feedback I got at nodeconf, I've started a new proposal and discussion on an interface called "simple-streams" that may end up matching levelup iterators. https://github.com/creationix/js-git/issues/17

[2013-07-02 16:42] dshaw commented on #6
@othiym23 All good. Might try to have a show with multiple groups and people coming in and out.

[2013-07-02 16:42] dshaw commented on #6
@rvagg Would you like to come on and talk about your experience?

[2013-07-02 16:57] dshaw commented on #5
@creationix We're probably going to do #6, the NodeConf Retrospective, first. This is probably next, so 2-3 weeks out. We'll all dial in on Skype and discuss. That's pretty much it. You'll need a decent internet connection (/me glowers at @dominictarr) and a headset or mic if you have one. There's a bit of work to put together show notes beforehand and off we go.

Please feel free to add any speci

[2013-07-02 17:23] creationix commented on #5
I used to be a regular on JavaScript Jabber before I switched to 100% chromeos for my development (no skype).  But I still have professional mic and studio monitors.

I can get on a machine with skype if that's required.  Also I'd really rather not do it on a Sunday and I'll be at Senchacon in a couple weeks.

[2013-07-02 17:31] creationix commented on #5
Should we also talk about how ES6 generators work with streams?

There is yet another stream interface that uses generators at the core (generator that yields continuables).  I just haven't pursued it yet because I don't believe libraries should depend on ES6 features yet.

[2013-07-02 19:15] dshaw commented on #5
@creationix We're off Sundays now. We mostly record mid-week.

We discussed generators in http://nodeup.com/fortysix , but definitely mix in what's appropriate to this discussion.

[2013-07-02 19:28] creationix commented on #5
Great, so I'll be gone speaking at Senchacon and traveling July 15-20.  The week before and after I should be free.

[2013-07-02 19:32] dshaw commented on #5
Noted on my calendar (for multiple reasons). :smiley:

[2013-07-03 01:13] hueniverse commented on #6
@dshaw that's a great idea, having people pop in and out instead of a long one-sided conversation.

[2013-07-03 01:26] dshaw commented on #6
@hueniverse Great! Want to hop on for :30 on Friday?

[2013-07-03 01:43] hueniverse commented on #6
@dshaw Should be doable.

[2013-07-03 06:25] rvagg commented on #6
My jet lag might still be in action by then so 5am may work for me for a change.

[2013-07-03 22:11] dshaw commented on #6
- @glennblock

[2013-07-03 22:12] glennblock commented on #6
I am there!

[2013-07-03 22:13] kenperkins commented on #6
Are you full up then?

[2013-07-04 00:37] dshaw commented on #6
@kenperkins please join us

[2013-07-04 02:51] joliss commented on #6
Would love to, but no can do.

[2013-07-04 16:27] othiym23 commented on #6
oh yeah, in case it wasn't clear, I'm totally down to do this.

[2013-07-04 17:25] dshaw commented on #6
Great. Thanks. (Still waiting on final confirmation from @floating for the recording.)

[2013-07-04 20:55] kenperkins commented on #6
I'll be there. What's the format?

[2013-07-04 22:18] dshaw commented on #6
@rockbot Actually, that will be fine. I'll add you to the first group.

[2013-07-04 23:14] dshaw commented on #6
Update the schedule.

@othiym23 @hueniverse @rockbot @glennblock @rvagg @kenperkins please send your Skype handle and prefered Google Docs account to dshaw@dshaw.com.

Thank you!

[2013-07-04 23:15] dshaw commented on #6
Ooh, also +@mikeal with closing thoughts.
https://twitter.com/mikeal/status/352924984060026881

[2013-07-04 23:18] mikeal commented on #6
great mix of presenters and attendees, love it ;)

[2013-07-05 03:44] hueniverse commented on #6
I'm hueniverse on skype.

[2013-07-15 19:15] dshaw opened #8 "NodeUp Teams: Change.org"
## Friday 7/19 Noon PT

With:
- @sh1mmer
- @ded
- @alif
- @jmerrifield

Topics:
- Change.org tech stack.
- Tools.
- Modules used.
- Open source.
- Control flow. What works?
- JS / CoffeeScript / other?
- Integrating with legacy systems.
- Node.js pain points.

[2013-07-15 20:54] ded commented on #8
cc @alif @jmerrifield

[2013-07-17 02:31] Oobert commented on #8
This may be were the topic of "open source" is going, but in case it isn't here is a question that still puzzles me.

How do you show/prove/explain that contributing back to open source projects is a good idea? or creating open source projects of common/non-business code is a good idea? It seems that businesses hold their code close with the thought that it is somehow unique to them.

Thank you
To

[2013-07-17 14:35] zdwolfe commented on #8
I mentioned on Twitter ( https://twitter.com/zdwolfe/status/357301586923491330) but I'll ask here too -  what are the biggest hurdles for corporate adoption of #nodejs?

Thanks guys, love the podcast.

[2013-07-19 01:13] dshaw opened #9 "NodeUp Teams: DIY"
## Friday 7/19 Noon PT
### [NodeUp #49](http://nodeup.com/fortynine)

With:
- @thisandagain
- @drk
- @remixz
- @kaelb

Topics:
- DIY tech stack.
- Do you DIY all of your tech stack? Hah!
- Tools.
- Modules used.
- Open source.
- Control flow. What works?
- JS / CoffeeScript / other?
- Node.js pain points.
- What works, what doesn't.

[2013-07-19 01:21] thisandagain commented on #9
I'll be joined by @drk, @zachbruggeman, @kaelb (<-- twitter accounts)

Get ready to have a 15 year old Node.js hacker on NodeUp. :laughing:

[2013-07-19 01:23] thisandagain commented on #9
Topic list looks good though we don't integrate with any legacy systems so we could ditch that talking point.

[2013-07-19 01:28] remixz commented on #9
Woohoo! :metal: (I am @zachbruggeman btw)

[2013-07-19 02:41] kaelb commented on #9
I am also @zachbruggeman

[2013-07-19 02:42] kaelb commented on #9
Or am I??

[2013-07-19 02:46] remixz commented on #9
@zachbruggeman is all.

![isall](https://f.cloud.github.com/assets/1459603/823702/5ca22aee-f01d-11e2-94fd-9fbc9a2d13cb.jpg)

[2013-07-25 00:37] dshaw opened #10 "NodeUp: v0.11 Update Show"
## Thursday 8/1 10:00 AM PT
### [NodeUp #50](http://nodeup.com/fifty)

With:
- @dshaw
- @isaacs
- @piscisaureus
- @bnoordhuis
- @trevnorris
- @tjfontaine

Topics:
- v0.11 breaking changes
- Stream3
- http refactor
- buffers improvements

[2013-07-25 01:35] juliangruber commented on #10
@rvagg could be of interest, because https://github.com/rvagg/nan and leveldown and buffers etc.

[2013-07-25 01:46] dshaw commented on #10
@juliangruber Out of scope for this show I think, but having @rvagg on with @tjfontaine to discuss compatibility layers would be really interesting. Four is a good number and we're already there. (I added myself to make that more clear.)

Want to create a new issue for that to kick off the discussion?

[2013-07-25 02:33] juliangruber opened #11 "NodeUp: Compatibility Layer Show"
## Tuesday 9/17 10:00 AM PT
### [NodeUp #52](http://nodeup.com/fiftytwo)

With:
- @dshaw
- @tjfontaine
- @rvagg
- @trevnorris

Topics:
- Stories, backgrounds and best practices around maintaining module compatibility across multiple node version that broke backwards compatibility. Binary add-ons could be the focus, but also doing js-land would be even more valuable.
- [tjfontaine/node-addon-layer]

[2013-07-25 02:33] juliangruber commented on #10
did just that :) #11

[2013-07-25 02:33] mikeal commented on #11
good idea.

[2013-07-25 02:34] dshaw commented on #11
Thanks, @juliangruber.

[2013-07-25 20:25] paulbjensen commented on #2
I couldn't imagine an episode about CoffeeScript being done on NodeUp. Pleasantly surprised. As a fan of metaphors, anyone who has watched the tv show "The Bridge" will be interested to note that Danes and Swedes speak to each other in their own languages, and they understand each other. I hoped that the relationship between JS/CS would be like that, but I'm doubtful.

[2013-07-25 23:21] dshaw commented on #2
@paulbjensen Did you catch the Promises show? I think that was very constructive and good for everyone. This is about giving CoffeeScript developers their voice and helping them connect within the Node community. I actually probably won't have any of the "Node ppls" on, with the exception of myself for that reason.

[2013-07-26 03:45] simianhacker commented on #2
Talk to the We Are Fractal guys (Github: wearefractal, contra, funkytek) They can provide some good perspectives on why they choose CoffeeScript over JavaScript

[2013-07-26 05:31] #9 closed, assigned to nobody

[2013-07-26 05:40] #6 closed, assigned to nobody

[2013-07-26 07:54] paulbjensen commented on #2
@dshaw I haven't, but I will when I get a moment. I'm a big fan of CoffeeScript, wrote quite a few apps in it, including Dashku.

[2013-07-26 15:41] skw commented on #2
I still think it would be really cool if you could get Jeremy and Trevor on the show ;D

[2013-07-26 15:54] TrevorBurnham commented on #2
@skw Aw, that's very kind of you to say, but trust me: It would be 1000% better if you had just Jeremy on the show. And perhaps Michael Ficarra of [CoffeeScript Redux](https://github.com/michaelficarra/CoffeeScriptRedux) fame. I was fortunate enough to help bring CoffeeScript to a wide audience in its early days, but I don't have much to say about it now that it's a fairly well-known coding tool.

[2013-07-29 06:34] dshaw opened #12 "NodeUp: International NodeBots Day 2013 Retrospective"
## Thursday 8/8 10:00 AM PT

[NodeUp #51](http://nodeup.com/fiftyone)

With:
- @dshaw
- @voodootikigod
- @buritica
- @olizilla
- @nexxy
- @julianduque
- ???

We'll probably break this down into :30 blocks with groups @dshaw + 3.

Topics:
- The NodeBots Day experience.

[2013-07-29 22:32] olizilla commented on #12
@rockbot or it didn't happen. Or won't happen. Or something. Do all the
nodeups.

@julianduque put his keys in the bowl already, and it would be rude not to
@rwaldrn.
On 29 Jul 2013 18:54, "Raquel Vélez" notifications@github.com wrote:

[2013-08-06 02:42] dshaw commented on #2
@aseemk has an interesting CoffeeScript preso. Might be a good fit for this show. http://aseemk.com/talks/intro-to-coffeescript

I especially appreciate his perspective as a previous CS doubter who embraced CS fully. #fullkoolaid

(Yes, for those playing along at home, I do disagree with most of the arguments of why CS is great in that preso. But this is about you... not me. :smile:)

[2013-08-07 21:13] olizilla commented on #12
Do we do?

[2013-08-07 21:19] dshaw commented on #12
This week or next week? How's everybody doing for 10am PT tomorrow?

[2013-08-08 07:09] dshaw commented on #12
@olizilla Looks like tomorrow's not going to happen.

[2013-08-08 07:12] affinity-matrix commented on #12
I just saw this email :D I can do whenever tomorrow. or not. whatever!

On Aug 8, 2013, at 12:09 AM, Daniel Shaw notifications@github.com wrote:

[2013-08-08 07:19] olizilla commented on #12
Same here. Can do today, or next week. It'll be fun, let's corral the
others.
On 8 Aug 2013 08:12, "Emily Rose" notifications@github.com wrote:

[2013-08-08 14:00] julianduque commented on #12
Can do today or tomorrow :)

[2013-08-12 23:26] dshaw commented on #12
OK, who wants to talk @nodebotsday on Wednesday?

[2013-08-12 23:31] julianduque commented on #12
me :)

[2013-08-13 23:54] dshaw commented on #12
@olizilla Can you jump on at 10am PT?

[2013-08-13 23:54] dshaw commented on #12
@julianduque Can you jump on at 10am PT?

[2013-08-13 23:55] dshaw commented on #12
@buritica Can you join us on @nodeup tomorrow at 10am PT / 1pm ET?

[2013-08-14 00:10] julianduque commented on #12
@dshaw sure

[2013-08-14 00:17] olizilla commented on #12
@dshaw you have my axe.

[2013-08-14 09:01] dshaw commented on #12
@julianduque @olizilla Can you send me your Skype handles at dshaw@dshaw.com? Thanks.

[2013-08-14 13:33] buritica commented on #12
Yes, I can join. 
—
Juan Pablo Buritica
t: @buritica

On Wed, Aug 14, 2013 at 5:01 AM, Daniel Shaw notifications@github.com
wrote:

[2013-08-15 02:43] jorydotcom commented on #12
Just saw [@dshaw's  tweet](https://twitter.com/dshaw/status/367812154113531905): The folks from Technical Machine - @tcr, @jiahuang - make the [Bleduino](http://bleduino.cc/) & demo'd it at Nodebots Day Boston. Very interesting device & would be great for NodeUp!

[2013-08-15 03:52] rwaldron commented on #12
This is not good. All of the "APIs" use `while (true) {}` which is process blocking—you literally can't do more then one thing at a time.

[2013-08-15 15:21] timfpark opened #13 "NodeUp: An Internet of Things Show"
I think its time we had a show on the internet of things given the interesting things going on in the node community around this.

I'd like to suggest the following guests:
- The usual show cast
- Jialiya Huang (@jiahuang) or Tim Ryan (@tcr) from Technical.io, which is building an arduino style low power device that includes a node.js execution envitornment.
- Tim Park (@timfpark, aka me):  Mainta

[2013-08-16 22:27] rvagg commented on #13
@mcollina would be great for this, as would @wolfeidau who is chief nerd at NinjaBlocks these days.

[2013-08-17 00:19] mcollina commented on #13
If you want me in, I can speak about the [MQTT](http://mqtt.org) protocol, why it matters for the internet of things, and why HTTP is not really the solution. Obiouvsly I'll talk about [MQTT.js](https://github.com/adamvr/MQTT.js/) and my MQTT broker [Mosca](https://github.com/mcollina/mosca).
I'll be speaking about the same stuff at nodeconf.eu!

[2013-08-17 00:19] mcollina commented on #13
Thanks @rvagg for the mention!

[2013-08-17 00:25] daviddias commented on #13
YES! =D :+1: love this topic

[2013-08-17 00:33] wolfeidau commented on #13
I also have a keen interest in this area, as I am currently working on migrating some of our stuff over to MQTT.

Mite be nice to make this a discussion independent, to some degree from the internet of things with a view to explore some of the protocols available to node developers. This subject would more than fill an entire show.

These really fall into:
- HTTP 1.x the old guard..
- HTTP 2.x
- W

[2013-08-17 00:39] rvagg commented on #13
Ooo. Maybe a separate protocols show with  @wolfeidau (who nerds out on this stuff) @mcollina, perhaps @indutny and @izs

[2013-08-29 17:11] dshaw commented on #11
Per @tootallnate's suggestion, adding @trevnorris.
https://twitter.com/TooTallNate/status/368160057986269187

@trevnorris, does it make sense to have you on this show?

[2013-08-29 17:16] dshaw commented on #11
I'm thinking about doing this show next Tuesday 9/3 10:00-11:30 AM PT.

/cc @floating @tjfontaine @rvagg @trevnorris

[2013-08-29 17:17] mikeal commented on #11
that could work for me if it was just a little bit later. i can try to be in my office by 10am but it is rather difficult.

[2013-08-29 17:36] trevnorris commented on #11
@dshaw Only if you want me to explain some of the breakages I introduced. Though most are very minor and I'd doubt the community would ever notice (e.g. introduced externalized strings, which means you could technically mutate your string in native land w/o JS ever noticing, yeah, that would be something to debug). But as far as compatibility later, my tool isn't. It's just a small set of things I

[2013-08-29 23:56] rvagg commented on #11
I'm not sure I _should_ do this, it's 3am for me: http://www.timeanddate.com/worldclock/converted.html?iso=20130903T10&p1=137&p2=240 and I have a _very_ long flight the next day and I can't usually sleep on planes.

[2013-09-03 04:44] dshaw commented on #11
OK, let's push. @rvag, when's the next time you'd be available?

[2013-09-03 04:54] rvagg commented on #11
Well, I'm not too busy after my flight and before NodeConf.eu and I'll be in IE so perhaps the timezone matches up better over there?
Or we could even do something live at NodeCon.eu!

[2013-09-03 09:03] rvagg commented on #11
@tjfontaine are you going to be in IE perchance? I know @trevnorris will be.

[2013-09-03 10:25] chirag04 opened #14 "NodeUp: state of realtime with node"
Podcast with @guille, @3rd-Eden and other guys dealing with realtime to discuss the state of realtime apps with nodejs and the future of realtime apps with node.js

Few keys topics can be:
State of engine.io, socket.io
Primus
Scaling real time apps

[2013-09-04 00:40] tjfontaine commented on #11
@rvagg yes, I'll be there

[2013-09-04 01:00] dshaw commented on #11
@tjfontaine Oh, sweet!

[2013-09-04 06:37] dshaw commented on #14
:+1:

[2013-09-04 19:13] 3rd-Eden commented on #14
:+1: I'm up for it

[2013-09-04 20:10] dshaw commented on #14
@3rd-Eden Anyone else we should add to the mix?

[2013-09-04 20:42] 3rd-Eden commented on #14
@dshaw maybe @einaros @jcoglan @majek or @owenb

[2013-09-04 21:13] dshaw commented on #14
Thank you! :chart_with_upwards_trend:

[2013-09-13 00:42] indexzero commented on #11
Oh man. Do I have some horror stories about `daemon.node`. Turns out `node@0.4.x` was only fork safe "by accident", so forever basically never worked 100% on `0.6.x` and it wasn't until @Avianflu implemented

[code]

that we actually had same pure-node.js based daemonization (screw you spellcheck it's a word!).

[2013-09-13 01:14] #12 closed, assigned to nobody

[2013-09-13 01:16] #10 closed, assigned to nobody

[2013-09-13 01:59] dshaw commented on #3
Done. It's seeding now.

[2013-09-13 02:16] dshaw commented on #3
http://bitlove.org/nodeup/nodeup

[2013-09-13 02:16] #3 closed, assigned to nobody

[2013-09-23 17:35] mikeal commented on #11
did this show happen?

[2013-09-23 19:22] tjfontaine commented on #11
It did, last week nodeup 52

[2013-09-23 20:23] dshaw commented on #11
@mikeal Yes. We focused on NAN and node-addon-layer and the upcoming changes to core rather than on userland as much.

I'd like to get you and @indexzero on for a Maintaining Node Modules horror show. Seems like a better fit.

[2013-09-23 20:25] #11 closed, assigned to dshaw

[2013-09-23 20:27] dshaw opened #15 "NodeUp: Maintaining Node Modules (Horror) Show"
## TBD
### NodeUp #?

With:
- @dshaw
- @mikeal
- @indexzero
- @substack

Topics:
- Stories, backgrounds and best practices around maintaining module compatibility across multiple node versions that broke backwards compatibility.
- [mikeal/request](https://github.com/mikeal/request)
- [nodejitsu/forever](https://github.com/nodejitsu/forever)
- [substack/*](https://github.com/substack/)

[2013-09-23 22:56] mikeal commented on #15
could have @substack talk about the pain of updating all the deps of deps of deps.

[2013-09-23 22:58] dshaw commented on #15
@mikeal Nice.

[2013-09-26 10:13] indexzero commented on #15
I'm in. Can't pass up an opportunity to share war stories with you guys :)

[2013-09-30 13:40] mikeal opened #16 "NodeUp: Road to RobotsConf"
Would be great to have an episode talking about the growth of hardware and get people excited about the upcoming RobotsConf.

People:
@dshaw
@rockbot
@voodootikigod
@rwaldron

[2013-09-30 16:10] dshaw commented on #16
:+1:

[2013-09-30 18:12] dshaw commented on #16
That's probably going to line up with my timing as well. Thinking about doing a Node Teams nodeup next.

[2013-09-30 18:13] voodootikigod commented on #16
Mid October would be grand.

On Mon, Sep 30, 2013 at 2:12 PM, Daniel Shaw notifications@github.comwrote:

##

_Chris Williams_

@voodootikigod http://twitter.com/voodootikigod |
GitHubhttp://github.com/voodootikigod

_The things I make that you should check out:_
SaferAging http://www.saferaging.com/ | JSConf http://jsconf.com/ |
RobotsConf http://robotsconf.com/ | RobotsWeeklyhttp://robotsweekly.

[2013-10-04 19:18] dshaw commented on #15
@substack Will you be back by next Tuesday 10/8? @mikeal @indexzero If Substack's around, I'd love to try to get this in early next week. Tuesday 10am PT is my current target.

[2013-10-04 19:34] mikeal commented on #15
i can do that, i'll likely need a reminder tho :)

On Oct 4, 2013, at 12:18PM, Daniel Shaw notifications@github.com wrote:

[2013-10-04 19:36] dshaw commented on #15
NP. @floating will send out a calendar invite once we have both @indexzero and @substack confirmed.

[2013-10-05 02:07] ghost commented on #15
I get back from Europe October 9th at 22:00.

[2013-10-05 23:09] dshaw commented on #15
@floating Unless I can rope in @visionmedia to join us instead of @substack, it looks like the earliest I we can do it is 10/11. Maybe 10/10 in the afternoon, but I'm on in the morning for Part 2 of NodeStack Security Stack.

Mr. @indexzero, how does your week look?

[2013-10-08 06:21] floating commented on #15
@dshaw I can do morning of 10/11.

[2013-10-12 07:18] dshaw commented on #15
I confirmed @indexzero for Tuesday 10/15 at 10:00am PT. Everybody else available? @floating @mikeal @substack

[2013-10-14 23:39] rvagg opened #17 "NodeUp Communities shows"
There's [so much](https://github.com/mikeal/node-meatspace) happening around the world in many different Node communities; meet-ups, conferences and other types of gatherings.

It'd be great to have a regular NodeUp dedicated to one or more regional Node community to discuss what they have going on; what happens at their meet-ups, the companies and organisations that are active in their community,

[2013-10-14 23:48] mikeal commented on #17
could tie it in to node-meatspace as well :)

[2013-10-20 23:21] dshaw opened #18 "NodeUp: A Very Meta NodeUp"
## Tuesday 10/22 10:00 AM PT
### [NodeUp #53](http://nodeup.com/fiftythree)

With:
- @dshaw
- @khalifenizar
- ??
- ??

Topics:
- Discuss the impact of NodeUp on the Node community.
- Favorite shows and topics.
- What do you think about new concept shows like NodeUp Teams.
### Would you like to join us?

Tell us a little about yourself and what you'd like to share by posting a comment below?

[2013-10-20 23:37] Nevraeka commented on #18
I'm a UX Engineer at 3Pillar Global. My current work is focused on rapidly prototyping applications we are working on for clients before the actual sprints start. Mainly I'm using Node on the backend with Express since I my code is ultimately throw away and used primarily as a interactive road map for devs before work starts.  One awesome thing about prototyping is I get to choose my target browse

[2013-10-21 01:15] tbuchok commented on #18
I am a programmer living in New York City, with a background in advertising tech where JavaScript is implemented in all the ways we love/complain about — ummm, `document.write` ... :\

In large part, NodeUp's focus on community -- heck, every show ends with an events wrap-up -- has led me to get really excited to talk about Node myself. I've given talks in Madrid, Croatia and here in NYC, so far.

[2013-10-21 13:36] cliffano commented on #18
I'm a software developer from Melbourne, Australia. I've been listening to NodeUp since the first episode, I documented 'Facts about Australia according to NodeUp' http://blog.cliffano.com/2012/03/23/australia-according-to-nodeup/ .
I've been using node since v0.2 days, back when promise was in core. I've abused npm by publishing Java code into npm registry, and vice versa. My most recent use of n

[2013-10-21 21:24] mattcreager commented on #18
In lots of ways NodeUp is responsible for where I'm currently working, what I'm working on and who I'm doing it with.  That's heavy, but it's true:

I'm a member of the software engineering team at [GoInstant](https://goinstant.com/) and live and work in [Halifax, NS](https://maps.google.ca/maps?q=halifax+regional+municipality&ie=UTF-8&hq=&hnear=0x4b4513bbd026ebc5:0x1b0497d93c43b220,Halifax,+NS&gl

[2013-11-01 00:15] #18 closed, assigned to nobody

[2013-11-06 12:45] Siyfion commented on #2
Personally, I'd really like to see this happen! As a developer choosing between "native" JS and others (CoffeeScript, TypeScript, Dart) for both front-end and back-end development, I'd really love to hear a constructive argument (keyword: **constructive**) for all sides involved.

[2013-11-06 12:49] dshaw commented on #2
We touched on this in the NodeUp Teams show with Team Trello. Worth checking out when it goes up.

[2013-11-06 12:51] Siyfion commented on #2
Ah thanks @dshaw, I heard in the last podcast that you were discussing getting the Trello team involved, as a user of Trello, I have a lot of respect for what they've done; glad to hear that there is some discussion on this. Any idea when it'll be up?

[2013-11-06 12:55] dshaw commented on #2
@BrettKiefer has very much the right attitude for this show. We might invite him back again to reprise that discussion. I also like that his background was JavaScript (and before that Haskell), so he also fails the "you like CoffeeScript because you like Ruby/Python" assumption.

[2013-11-06 12:56] dshaw commented on #2
@Siyfion We had some technical issues because we had too many people on, so I think @floating is going to have some extra work this time to clean things up. Probably by Friday, though.

[2013-11-06 12:58] Siyfion commented on #2
Awesome, I'll look forward to that then! Keep up the good work. :+1:

[2013-11-10 20:56] LauraRoman opened #19 "NodeUp Teams: Groupon"
## 1/16/14 at 11:00 AM PT
### [NodeUp #58](http://nodeup.com/fiftyeight)

With:
- @dshaw
- @EndangeredMassa
- @mcculloughsean
- Adam Geitgey
- @LauraRoman

Topics:
- Moving Groupon from Rails to Node.js
- I-Tier: Dismantling the Monoliths

[2013-11-17 01:28] dshaw commented on #16
@voodootikigod Want to do this on Tuesday?

[2013-11-17 05:39] dshaw opened #20 "NodeUp: A continuation-local-storage Show"
## 3/27/14 at 11:00 AM PT
### [NodeUp #61](http://nodeup.com/sixtyone)

Alternate title: "NodeUp: An AsyncListener Show"

With:
- @dshaw
- @othiym23‎
- @trevnorris
- @dazld
- @FredKSchott

Topics:
- continuation-local-storage all the things!
  - Why Forrest, why?
  - and how?
  - What now?
  - https://github.com/joyent/node/issues/5243
  - https://github.com/othiym23/node-continuation-local-storag

[2013-11-17 05:41] dshaw commented on #19
@LauraRoman Would love to have the Groupon team on the show. Who would join you?

[2013-11-17 05:48] othiym23 commented on #20
+1, although I think it would be most interesting to talk about asyncListeners and the new event listener stuff that @trevnorris is hacking on, with CLS being an application of the API(s). Also, it would be cool to get @dazld to talk a little about his experiences with CLS as an end user.

[2013-11-17 06:00] dshaw commented on #20
Sounds great. @dazld, what do you think? You interested in coming on @NodeUp?

[2013-11-17 07:04] LauraRoman commented on #19
Sri Viswanath, SVP of Engineering and Operations; Sean McCullough, Software Engineer and major driver of move to Node.js; Greg Conklin, Director of Engineering and principal behind I-Tier; Adam Geitgey, Software Engineer and major driver of move to Node.js in partnership with Sean McCullough.

Please see our Groupon Engineering blog.

What date did you have in mind to make the recording?

Sent fro

[2013-11-17 07:31] dshaw commented on #19
@LauraRoman Just fleshing out the show at this point. Need to pair down to max 4 participants. Recording gets flakey at > 5 on a panel. Getting everybody else's GitHub handles here would be great. At this point, I'm trying to figure out if this should be a **NodeUp Teams: Groupon** show or something else.

I have a baseline familiarity with the I-Tier project. I've seen the blog posts and The Node

[2013-11-17 11:36] LauraRoman commented on #19
Hi Daniel,

Yes, I will be at Node Summit. Will we be recording there? Let's jump on a quick call Monday and work out details. What times work for you to connect by phone?

Laura

Sent from my iPhone

On Nov 16, 2013, at 11:31 PM, Daniel Shaw notifications@github.com wrote:

[2013-11-18 16:54] creationix commented on #20
sounds like fun

On Sat, Nov 16, 2013 at 11:39 PM, Daniel Shaw notifications@github.comwrote:

[2013-11-18 20:16] trevnorris commented on #20
As long as it's after Node Summit, I'm cool with it. :)

[2013-11-20 05:09] dshaw opened #21 "NodeUp: Search Show"
## TBD
### NodeUp TBD

With:
- @dshaw
- @fergiemcdowall
- @rvagg
- @dominictarr (if he's got connectivity!!)

Topics:
- Indexing and search in Node.

[2013-11-20 06:03] fergiemcdowall commented on #21
Im in! :)

[2013-11-20 06:19] dshaw commented on #21
@fergiemcdowall Excellent!

[2013-11-20 08:37] dazld commented on #20
hey guys! sure, would love to!

[2013-11-20 09:03] dazld commented on #20
We're using cls for this kind of stuff:
- Abstraction of values that might be 'global' in a browser context (things like cookies, auth tokens)
- Maintaining per-request state in a serving http context
- Cleanly avoid passing around tons of objects to everything, attaching things to `req` etc
- being able to use event listeners and know they are doing the right thing (especially WRT below..)
- Mean

[2013-11-20 17:50] dshaw commented on #20
@dazld Excellent! Glad to have you on board.

[2013-11-22 23:21] LauraRoman commented on #19
Hi Daniel,

Following up to this note - how much time would we need to record the
podcast?  Would like to aim for us all meeting and recording 10:30-11am on
Tuesday, Dec. 3.

What do we need to do to prepare for the recording?

Thanks,

Laura

On Sat, Nov 16, 2013 at 11:31 PM, Daniel Shaw notifications@github.comwrote:

##

_Laura Roman_
Head of Technology Public Relations
_GROUPON_
W: 415-814-426

[2013-11-23 03:46] rvagg opened #22 "NodeSchool"
### [NodeUp #55](http://nodeup.com/fiftyfive)

We need to talk about this. London, SF, Dublin, I'll do a Sydney one soon.
- @mikeal
- @maxogden
- @brianloveswords
- @jlord
- @raynos

?

[2013-11-23 03:53] mikeal commented on #22
A few notes from our talking afterwards.
- we need a better way for people to signal when they need help, something easy that isn't scary for people. finding people in need is hard and a lot of us ended up in conversations with people in between that we would gladly pause to help someone but nobody was asking for help because they felt they would be interrupting.
- a debugging school would be cool

[2013-11-23 03:57] rvagg commented on #22
on that last point I was considering a $5 charge for one in Sydney just to make people take RSVP more seriously.

Also, this thread has lots of notes: https://github.com/nodeschool/discussions/issues/73

[2013-11-23 03:59] rvagg commented on #21
I'm not sure how much I have to add on search. @dominictarr, @eugeneware are you guys aware of what's going on in the level+search space? can you suggest anyone that's actually doing anything or perhaps you're doing things yourselves?

[2013-11-23 04:11] mikeal commented on #22
yeah, it depends on if you think you'll actually max out the capacity of the venue you're doing it in.

[2013-11-23 05:11] dominictarr commented on #21
I have full text search in npmd, but I wouldn't say it's perfect yet.

[2013-11-23 06:17] Raynos commented on #22
Some things I noted
- Being a mentor is hard. I did a reasonable job of asking people how they were doing but some people took multiple prods to admit they were stuck. Having some kind of way for people to easily ask for help would be nice. This is a general mentoring / teaching problem.
- our event being sold out did keep people I knew away. Not sure how to manage capacity.

Some things that were

[2013-11-23 08:57] brianloveswords commented on #22
Awesome, thanks for kicking this off @rvagg! I'm trying to plan a Brooklyn one for early/mid December.
- I'm definitely +1 on a token donation – we did this for BrooklynJS and it seriously cut back on the amount of attendee absenteeism (IIRC, we sold 78 tickets and only 5 no-shows).
  - My one slight concern is that it might deter people who want to learn but are strapped for cash. I've been tryin

[2013-11-23 17:39] mikeal commented on #22
The capacity planning is easily solvable in two ways.
- Get a venue big enough to absorb the max you think will actually show up. I think Heroku's venue would have fit as many people as would have signed up if we would have kept tickets open indefinitely and sold to well over their capacity.
- Create some kind of commitment guarantee, like charging money, even if it's $1.

TBH, San Francisco is pr

[2013-11-23 18:02] max-mapper commented on #22
I wanted to open up more tickets but Heroku wasnt comfortable above 140 as they hadn't run a meetup that large in their space yet. We had about 100 people show up, so 30-40 no shows. In London we had 10-20 no shows.

[2013-11-25 01:42] jlord commented on #22
At the SF/Heroku meet up another mentor and I were discussing how asking questions could be made better. Something that reduced any fear about asking questions, made the question-asker feel less in the spotlight and removed the need for the asker to hold a hand up and wait until they've had eye contact with a mentor.

So maybe some type of flag that can be raised (thinking about those little realt

[2013-11-25 02:39] Raynos commented on #22
@jlord I think two sided [beverage coasters](http://en.wikipedia.org/wiki/Beverage_coaster) would be rad.

[2013-11-25 04:33] mikeal commented on #22
anything that is on a table will be covered too often.

maybe some kind of sign that can be attached to your laptop and flipped at will. then you can make _everyone_ have the sign on and just flip it when they need help. if they have to go grab it only when they need help i think they'll be less likely to do so.

[2013-11-25 05:39] jordangarcia commented on #22
I think it would've been nice to have more people doing the same lessons sitting near each other.  It would better encourage discussion amongst groups of people on how to tackle the problems at hand.

[2013-11-25 05:55] parshap commented on #22
Some general feedback from attending the SF event as a mentor:

At Heroku, the "amphitheater" area didn't work too well in my experience. At least not with that many people there. No one seemed to want to ask for help and it was hard to climb over people just to see if they needed help.

@mikeal:

I don't think flipping a visible-to-everyone sign on your laptop to indicate you need help will be mu

[2013-11-25 09:30] olizilla commented on #22
Yep, at the London event it seemed like people were more willing to ask
questions of the people sat next to them rather than summon a mentor, or
admit they were stuck as the mentors did the rounds.

Smaller tables of ~8 people with 1 mentor per table could work well if you
can find that many mentors. I'm assuming that the entry requirement for a
mentor is enthusiasm and having completed the worksh

[2013-11-25 17:51] mikeal commented on #22
I can make time this week, I'm going to be cooking for like 3 days but I can schedule around it.

[2013-11-25 18:20] dshaw commented on #22
@mikeal Great. @floating will get everybody scheduled up.

@maxogden @brianloveswords @jlord @olizilla and/or @Raynos. Can you be on this week? The streams max out at 5, but maybe Max and Jessica can be on together.

[2013-11-25 18:30] Raynos commented on #22
Oh this is a nodeup thread. I can be on nodeup this week.

[2013-11-25 18:35] dshaw commented on #22
;-) Yep. I didn't want to interrupt the constructive discussion that was happening, but yes this is a NodeUp thread.

[2013-11-25 18:59] brianloveswords commented on #22
hahaha I totally didn't realize this was a nodeup thread. I can try to make time!

[2013-11-26 21:23] floating commented on #22
@brianloveswords @jlord @olizilla @Raynos Hey all, sorry I had already been scheduling this. Mikeal, Max and Rod are set for this Friday at 1pm PT and we have one more spot. Reply here if you can make it at that time, whoever we hear back from first will get added. (sorry we overbooked this one a little bit)

[2013-11-27 06:26] rvagg commented on #22
if none of you can make it then @timoxley is a good candidate, author of the functional-javascript, runs a small group that does these workshops in Singapore, organiser of CampJS where we ran the initial learnyounode with ~80 students and ~10 supervisors (including Tim of course).

[2013-11-27 06:38] Raynos commented on #22
I can make it but you should probably have someone running one of the not SF meetups fill in the last spot like @brianloveswords @olizilla of @timoxley

[2013-11-27 09:28] timoxley commented on #22
Dang, I'll still be in the air travelling back to Australia at this time.

[2013-11-27 17:29] jlord commented on #22
@maxogden and I are together in Middle Georgia (woot!) so I can join but I that won't take up another spot, I don't think

[2013-11-27 18:46] floating commented on #22
@jlord Awesome :) yeah that doesn't take up a spot so we still have one open.

[2013-11-28 10:49] olizilla commented on #22
I'm pretty sure @brianloveswords said he was working on adding in [OpenBadges](http://openbadges.org/) magic to NodeSchool. Right now when you complete a workshopper, you have the warm glow of the terminal to show for your efforts... but people love badges. Just look at the laptop sticker fetish. Getting a badge for completing a workshopper would be a really nice addition.

I've corralled the ment

[2013-11-28 15:16] brianloveswords commented on #22
@floating hey, I'm back at my parents for Thanksgiving and the internet is ridiculously spotty. I can try to be on tomorrow at 4:00pm EST (right?) but my connection might drop (or it might be perfect). Unless someone else wants to give it a shot, I'll try to be there!

[2013-11-29 19:36] floating commented on #22
@brianloveswords Ok awesome, let's try.

[2013-11-30 07:02] rvagg opened #23 "NodeUp Teams: WalmartLabs and #nodebf"
## Friday 12/6 1:00pm PT
### [NodeUp #56](http://nodeup.com/fiftysix)

With:
- @dshaw
- @hueniverse
- @nvcexploder
- @kpdecker
- @wpreul

Topics:
- Node **_at scale**_
- Walmart tech stack.
- Tools.
- Modules used.
- Open source.
- Node.js pain points.
- What works, what doesn't.

[2013-11-30 07:36] nizaroni commented on #23
I loved the openness of the whole `#nodebf` event, especially considering how critical a time such as Black Friday can be for a production system. Would be cool to hear the story behind the decision to be so forthcoming. Also, would be neat to hear about the predicted vs. actual traffic and how a team's preparation might change when a spike in traffic is a virtual certainty.

[2013-12-02 07:23] #16 closed, assigned to nobody

[2013-12-02 07:37] dshaw commented on #20
@nodeup @floating @othiym23‎ @trevnorris @creationix @dazld

Pencilled this in for Thursday 12/19. What do you all think?

[2013-12-02 07:38] #22 closed, assigned to nobody

[2013-12-02 16:33] dshaw commented on #21
Pencilled in for January 2nd, 2014. Let me know if that works. Let's also keep an eye out for anyone else who might be a good fit for this show.

[2013-12-02 16:38] dshaw commented on #19
Potential dates for this show are 1/2/14 or 1/16/14. I have #21 pencilled in for 1/2 since I imagine being that close to the holidays will be challenging for a teams show. /cc @LauraRoman @mcculloughsean

[2013-12-02 17:56] mcculloughsean commented on #19
1/16 works well for me. @jkrems @endangeredmassa @ageitgey @todoubled

[2013-12-02 18:06] trevnorris commented on #20
@dshaw I'll be visiting family from 19-27 and won't be available during that time.

[2013-12-02 18:11] creationix commented on #20
It's good for me.

On Mon, Dec 2, 2013 at 8:37 AM, Daniel Shaw notifications@github.comwrote:

[2013-12-02 18:28] LauraRoman commented on #19
Daniel,

Let's sync up so I'm clear on how we can best prep, etc.  What are some
good times for to talk later in person tomorrow at Node Summit?

Thx,

Laura

On Mon, Dec 2, 2013 at 9:56 AM, Sean McCullough notifications@github.comwrote:

##

_Laura Roman_
Head of Technology Public Relations
_GROUPON_
W: 415-814-4261
lroman@groupon.com

[2013-12-02 19:03] dshaw commented on #20
Having @trevnorris on this show is key, so let's look to reschedule. Next dates on my NodeUp calendar are: 1/2 and 1/16.

[2013-12-02 21:32] trevnorris commented on #20
@dshaw Right now either of those dates work for me.

[2013-12-02 22:30] rvagg commented on #21
I'm just going to keep on pulling people in to this thread until we find people actually doing good search stuff in Node.

@brycebaril or @ramitos are you guys doing anything interesting with search or are you aware of any interesting efforts?

[2013-12-02 22:33] dshaw commented on #21
<3

[2013-12-02 22:49] fergiemcdowall commented on #21
Are there people how want to do a show about what a perfect search engine for node.js _could_ be? I really want to be able to `npm install` a mini-Google. Would that in any way be possible? etc etc...

[2013-12-02 22:50] othiym23 commented on #20
I'm fine for either 1/2 or 1/16!

[2013-12-02 23:31] sergioramos commented on #21
besides inverted indexes that can be used for search (there are modules for that), the only thing I've recently stumbled upon related to search was this: https://github.com/foragejs/search-index

[2013-12-02 23:37] sergioramos commented on #21
I would also cc @dscape that has a great blog post that goes through some indexing techniques: http://writings.nunojob.com/2011/12/Database-Indexes-for-The-Inquisitive-Mind.html

[2013-12-03 08:39] dominictarr commented on #21
@fergiemcdowall @substack had some interesting thoughts on that.
so, npmsearch.com by @solids I'm not sure what it uses.

[2013-12-03 09:14] fergiemcdowall commented on #21
Im thinking that if you had a 100 servers and you wanted to build a search farm- how would you go about it with node.js? What functions would you need? (reverse index, bigtable, mapreduce, document processing, query processing).

There just seems to be such a big gap between how Google/Bing does it, and how Solr/Elastic/FAST ESP does it.

Also a discussion about why this is important. _dons tin fo

[2013-12-03 11:21] dazld commented on #20
Both dates in Jan are good for me too.

[2013-12-03 16:53] dscape commented on #21
There are some modules out there to do it, e.g. the nodejitsu documentation search runs exclusively on nodejs and was done by @swaagie and @3rdeden

To talk about it in more detail you should understand how search works at a scale that surpasses what your laptop can handle (It's fairly trivial to do search in less than 100GB of data, e.g. a la nodejitsu docs). Getting someone from the search side

[2013-12-03 16:58] mcollina commented on #13
Re-start. I'm in SF between the 19th and 21st of December. How about doing it live?

[2013-12-04 08:03] dshaw commented on #13
@mcollina I can't do it live, but I could very possibly do this show on the 19th since #20 had to reschedule.

@timfpark Are you available then?

[2013-12-04 08:37] timfpark commented on #13
yup - i might have to be in Seattle as well that day but let me know the time and I can make sure to be on Skype in the worst case.

[2013-12-04 08:42] dshaw commented on #13
We'd record at 10am PT.

[2013-12-04 09:05] Swaagie commented on #21
The nodejitsu handbook search is done by [lunr.js](http://lunrjs.com/) completely, don't know its memory footprint but it serves its purpose for 30-40 articles. Document content is indexed at start. I would argue that Google's most impressive feature is not the search but the indexing ;) No good search without a good index

edit: it's @3rd-Eden :)

[2013-12-05 01:28] EndangeredMassa commented on #19
I can do either date.

[2013-12-08 05:52] bmathews opened #24 "Nodeup.com redesign concept & RFC"
This is an unsolicited redesign of nodeup.com and a request for comments.

Purposes of design/development work would be for:
- Modernization
- Improve responsiveness
- SEO improvements

![nodeup-redesign](https://f.cloud.github.com/assets/848347/1699860/a42d8948-5fcc-11e3-9a66-874d98a28166.png)
[Full Size](https://f.cloud.github.com/assets/848347/1699860/a42d8948-5fcc-11e3-9a66-874d98a28166.png)

[2013-12-08 16:06] floating commented on #24
Hey @moonsspoon, thanks for mocking this up. Though I fully agree the design of the site is in need of an update I think this is something we're going to push to the new version. The functionality of the new site will be different than the current one and we should design around that. A repo for the new site should be up soon and welcoming contributions.

[2013-12-08 17:25] #23 closed, assigned to dshaw

[2013-12-08 18:23] bmathews commented on #24
@floating Glad to hear it's in motion! Looking forward to the growth of NodeUp.

[2013-12-10 03:08] #24 closed, assigned to nobody

[2013-12-10 06:49] dshaw commented on #17
@PDXNode @knode @hackygolucky @nvcexploder @chrisdickinson There are probably two community podcasts we could do here. One Knode and one PDXNode. Maybe @othiym23 would want to co-host these with me out of the @newrelic studio.

[2013-12-10 06:49] dshaw commented on #17
Sorry about calling out half of the internet there. :cat:

[2013-12-10 06:56] dshaw opened #25 "NodeUp: A Continuous Docker Show"
## [Friday 1/10/14 2:00pm PT](http://m.wolframalpha.com/input/?i=+Jan+10+2014+2%3A00pm+PT)
### [NodeUp #57](http://nodeup.com/fiftyseven)

The concept for this show might a  might be a bit too tightly scoped with Continuous-\* + Docker, but I think there's significant enough activity and interest in this area to have a really great show.

With:
- @dshaw
- @niallo‎
- @mbrevoort‎
- @dscape
- @jacobg

[2013-12-10 07:21] max-mapper commented on #25
I think @jacobgroundwater would be good mostly because I think NodeOS would be awesome with first class docker support and a super awesome node deployment solution

[2013-12-10 07:23] dshaw commented on #25
@maxogden Nice one! Thanks. I leave it to @jacobgroundwater to say how close @nodeos is to primetime.

[2013-12-10 07:57] othiym23 commented on #17
Sounds pretty sweet to me. I love (by which I mean hate, but whatever, I used to be a college radio DJ) the sound of my own voice. Once we fix a date I can start the process of getting access to New Relic's studio.

[2013-12-10 08:01] othiym23 commented on #17
To tie back to Rod's original comment, it would be good to touch on more than just one community, too. Maybe do more than one show? I've found it interesting to hear about how Portland does things vs Phoenix (and I've heard there's some interesting things going on in Ohio and oh maybe New York), and I like the idea of hearing what's going on in Australia and Ireland (and China! and Colombia!). So

[2013-12-10 08:26] dshaw commented on #17
@othiym23 You got it. :smile: I see this evolving similar to the NodeUp Teams concept. Probably makes sense to kick this off with @Knode first and then loop back to @pdxnode later in 2014. Probably @andrew and @lnug second. It's the biggest, most active and most organized Node meetup I know about.

[2013-12-10 08:29] dshaw commented on #17
I'm not sure GitHub will pick up on editing @andrew 's name and drag him in. Explicitly :fishing_pole_and_fish: this time.

[2013-12-10 08:33] dscape commented on #25
+1

Cool to be back :) Looking forward to it @dshaw @floating :+1:

[2013-12-10 08:34] dshaw commented on #17
So many more and this list is far from comprehensive: https://twitter.com/dshaw/community/members

[2013-12-10 08:37] dshaw commented on #17
No for the hardest of problems. Naming things.
1. NodeUp Community: Knode
2. NodeUp Communities: Knode

FWIW, it's "NodeUp Teams: X".

[2013-12-10 16:39] othiym23 commented on #17
I vote for "Communities."

[2013-12-10 16:45] mikeal commented on #17
knode is a great project but it's still kicking off, there's only 7 meetups on there so far, one of which you're planning on doing another show about (PDX).

i'd love to get knode in to a show but it might be a good idea to roll it up in a show about community resources for meetups. also, the longer you put this off the better, knode is growing pretty quickly, in 4 weeks it should have at least do

[2013-12-10 17:32] hackygolucky commented on #17
Second @mikeal It would be awesome to hold off a few weeks if possible to
share about knode. A couple of the folks who helped get the idea in motion
will be gathering in Portland for Friendsmas and I imagine there will be
even further discussion about the direction of it then. Node family
discussions over turkey!

Happy happy happy to talk all about it :D Flexible to talk about it
whenever the sch

[2013-12-10 17:41] nvcexploder commented on #17
+1 to all of these - I think a Knode episode would be too early, and
focusing on Communities would be a great intro to helping folks realize
that really whatever works for their area is what they should be doing
instead of placing an immediate focus on any specific locale.

On Tue, Dec 10, 2013 at 9:32 AM, Tracy notifications@github.com wrote:

[2013-12-10 17:42] dshaw commented on #17
We'd be looking at Jan/Feb for the "NodeUp Communities: Knode" show. (Someone please create a show issue for it.)

[2013-12-10 17:44] nvcexploder opened #26 "NodeUp Communities: Knode"
Use of knode as a way to showcase how meetups and conferences are being organized within the community.

[2013-12-10 17:44] nvcexploder commented on #17
https://github.com/nodeup/contribute/issues/26

On Tue, Dec 10, 2013 at 9:42 AM, Daniel Shaw notifications@github.comwrote:

[2013-12-10 17:46] hackygolucky commented on #26
\o/
Mentioned thus far from [communities discussion](https://github.com/nodeup/contribute/issues/17):
@othiym23 co-hosting at New Relic with @dshaw and:
@nvcexploder
@chrisdickinson
@hackygolucky

[2013-12-10 18:06] groundwater commented on #25
Hey guys, I'd be happy to chime in about my experiences using Docker to work on NodeOS. The project is, and has for a while, been in a runnable state on Docker. I can't really speak to completeness beyond that, people's imaginations grow quickly about this project.

Feel free to ask me more details here, you can decide if it's gonna fit with the shows theme.

[2013-12-19 16:03] mcollina commented on #13
Is this confirmed for today?

[2013-12-19 16:45] timfpark commented on #13
yes, let me know if we are on for today - and who to call on Skype if we are...  otherwise, I'm pretty open for the next month if today doesn't work...

[2013-12-19 17:01] dshaw commented on #13
We're not confirmed for today... but I'd love to. Let me see if @floating is available.

Could we pull in another +1 or +2 at the last minute for the show?

[2013-12-19 17:53] mcollina commented on #13
I'm available until 12:30.

[2013-12-19 17:54] dshaw commented on #13
@mcollina @timfpark Doesn't look like we're going to be able to do today. Let's finalize the other two panelists and schedule something for gage new year.

[2013-12-19 17:55] dshaw commented on #13
@mcollina See you tonight at NodeBots SF.

[2013-12-19 17:57] mcollina commented on #13
:+1:

[2013-12-19 21:41] rvagg commented on #13
You should add @wolfeidau IMO, CTO Ninjablocks and totally knows his stuff.

[2013-12-30 20:04] floating commented on #25
@dshaw @niallo‎ @mbrevoort‎ @dscape @jacobgroundwater Any chance all of you are available to record this show on the 2nd?

[2013-12-30 20:11] dscape commented on #25
LGTM

[2013-12-30 21:00] niallo commented on #25
I'm on vacation in Mexico till January 11th -with sketchy wifi till then.

On Monday, December 30, 2013, Nuno Job wrote:

##

Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2013-12-30 21:18] groundwater commented on #25
I'm around; If you need to pick another time I'm in Portland from the 6-12, but I'll have wifi.

[2013-12-30 22:54] dshaw commented on #25
@niallo I'd really like to have you on this show. Is there any chance you could find a location with slightly better than normal wifi for a few hours?

[2013-12-30 23:42] mbrevoort commented on #25
It depends on the time. What time are you thinking?

On Mon, Dec 30, 2013 at 1:04 PM, C. Jordan Muir notifications@github.comwrote:

[2013-12-31 15:17] niallo commented on #25
@dshaw would love to be on the show. It's a bit tricky but I'm trying to
arrange use of a well-connected office for a few hours on jan 3rd or 4th.

Let me get back to you to confirm but hopefully I can secure that for the
podcast.

On Monday, December 30, 2013, Daniel Shaw wrote:

##

Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2014-01-01 23:30] floating commented on #25
@mbrevoort we're going to record at 11am pacific /@dshaw @niallo‎ @dscape @jacobgroundwater

[2014-01-02 05:48] mbrevoort commented on #25
Ok, i can make that.

On Wednesday, January 1, 2014, C. Jordan Muir wrote:

[2014-01-02 06:24] groundwater commented on #25
+1

[2014-01-02 12:01] dscape commented on #25
In the calendar :)

[2014-01-02 15:21] floating commented on #25
@niallo Were you able to arrange anything for today? We're planning to record at 11am pacific.

[2014-01-02 16:11] niallo commented on #25
Definitely can't record today I'm afraid. In transit.

On Thursday, January 2, 2014, C. Jordan Muir wrote:

##

Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2014-01-02 16:34] mbrevoort commented on #25
Should we reschedule? I'd rather have a richer conversation than rush it.

On Thursday, January 2, 2014, niallo wrote:

[2014-01-02 16:45] floating commented on #25
@mbrevoort @dshaw @dscape @jacobgroundwater Yeah, I think we're going to reschedule.

@niallo‎ When are you available next?

[2014-01-02 17:30] groundwater commented on #25
Find by me, I wouldn't mind preparing some demos people can try out after the show.

[2014-01-05 11:25] AndreasMadsen commented on #20
Just letting you know that [`trace`](https://github.com/AndreasMadsen/trace) is now another application for `AsyncListener`.

[2014-01-06 20:56] EndangeredMassa commented on #19
@dshaw Is this confirmed for 1/16/2014?

How long do the recordings typically take? Do we need to do anything specific to prepare?

[2014-01-06 21:03] dshaw commented on #19
Works for me. @ffloating, you good?

Let's shoot for 11am PT. We usually run 60-90 minutes. We'll kick off a
show notes doc as soon as we have final confirmation. Bring your stories!

##

Daniel Shaw
@dshaw

[2014-01-06 21:13] LauraRoman commented on #19
Daniel,

Can you give us some past examples  / working questions, etc.? We need to
have the questions in advance.

How will the recording work?

Thx,

Laura

On Mon, Jan 6, 2014 at 1:03 PM, Daniel Shaw notifications@github.comwrote:

##

_Laura Roman_
Head of Technology Public Relations
_GROUPON_
W: 415-814-4261
lroman@groupon.com

[2014-01-06 21:29] dshaw commented on #19
Here are some sample NodeUp Teams shows:
- NodeUp Teams: Trello - http://nodeup.com/fiftyfour
- NodeUp Teams: DIY.org - http://nodeup.com/fortynine
- NodeUp Teams: Walmart - http://nodeup.com/fiftysix - [transcription](https://github.com/noahcollins/transcriptions/blob/56-a-team-walmart-show-nodebf/56-a-team-walmart-show-nodebf.md)
  - Though this was a bit more about #nodebf than a pure "NodeUp T

[2014-01-06 21:46] floating commented on #19
@dshaw the 16th works for me

[2014-01-06 23:22] floating commented on #25
@niallo‎ @mbrevoort‎ @dscape @jacobgroundwater Any chance you're all are available to record this show on Friday the 10th around 2pm pacific?

[2014-01-06 23:32] groundwater commented on #25
all of friday works for me

[2014-01-07 01:36] niallo commented on #25
I'll be in Mexico City. I'll hopefully have decent wifi there that day.
Fingers crossed :) connectivity is sketchy here.

Alternatively if you guys can wait till Monday, I'll be home and will have
a stable connection for sure.

On Monday, January 6, 2014, Jacob Groundwater wrote:

##

Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2014-01-07 06:48] dscape commented on #25
yup

[2014-01-07 16:24] walterheck opened #27 "NodeUp: Spreading Node.JS in Europe and Asia"
Would like to see a topic about spreading Node outside of Asia and Europe. We're trying to do this through training, btu especially in Asia there are many usergroups and such. We have someone on staff (@rajkissu) who was previously lead dev for a Node.JS based product in Malaysia, he might have some good things to say.

[2014-01-07 16:39] groundwater commented on #25
Monday/Friday both work

[2014-01-07 23:15] dshaw commented on #25
Monday is not an option for me. I could potentially try to fit this in **next** Thursday after #19 Node Teams: Groupon at 11am and before the NodeBots SF meetup at 5pm. That's pretty insane, especially since I'll be coming off 3 straight days of conducting training. I will need to find a cave to hide in to recover from all that extroverting. However, if we're uncertain about doing the 10th, that's

[2014-01-08 00:01] niallo commented on #25
Got to my accommodation in Mexico City. Wifi seems pretty decent here but I
still need to test real time audio. You use skype or something else for the
podcast? I'll try it out in advance of Friday to make sure the connection
is up to wideband audio.

On Tuesday, January 7, 2014, Daniel Shaw wrote:

##

Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2014-01-08 00:23] floating commented on #25
@niallo yep we use skype, let us know how it goes

[2014-01-09 22:09] floating commented on #25
Is this a go for tomorrow? (at 2pm pacific)

@mbrevoort‎ Are you available?

@niallo‎ Is your connection good enough?

 // @dshaw @dscape @jacobgroundwater

[2014-01-09 22:13] dshaw commented on #25
:+1: for me

[2014-01-09 22:13] groundwater commented on #25
Red leader, standing by

[2014-01-09 22:26] dignifiedquire opened #28 "nodeup.com"
Is there any chance of opensourcing the site on github? Or another form to contribute to it? Would love to help improve it in some ways, like responsive view, better navigation (I always get lost with this multiple column scroll) and things like that.
Maybe even a design in terms of the awesome logo used on itunes:

![screen shot 2014-01-09 at 11 25 03 pm](https://f.cloud.github.com/assets/790842/

[2014-01-10 02:33] niallo commented on #25
I tested Skype last night and it was fine. Hopefully be up to the task
tomorrow afternoon. I'll be on Skype - I'm "nialljohiggins" btw.

On Thursday, January 9, 2014, Jacob Groundwater wrote:

##

Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2014-01-10 07:29] parshap commented on #28
:+1:

Also, see #24.

[2014-01-10 07:53] dscape commented on #25
tomorrow is today right? :)

[2014-01-10 14:42] dshaw commented on #25
@mbrevoort You in? http://m.wolframalpha.com/input/?i=+Jan+10+2014+2%3A00pm+PT

[2014-01-10 14:49] mbrevoort commented on #25
I have a conflict that I should be able to bump by an hour; so I'm in for
an hour!

On Friday, January 10, 2014, Daniel Shaw wrote:

[2014-01-10 14:51] dshaw commented on #25
Sounds good. :balloon:

[2014-01-10 21:51] jimkang commented on #25
Question for the panel: As a guy that's only played with Docker for a few days trying to set up a dev stack VM, it seemed to me that the series of image diffs used by Docker were not very transparent, compared to, say, lines of text in a shell script. I kept wishing there was a way to convert images back into Dockerfiles. How do you square this? Or am I thinking of this the wrong way?

[2014-01-11 04:38] chaseadamsio opened #29 "What Is Your Favorite Automated Task?"
Automating tasks is one of the great joys of development: writing code that does work for you so you can write other code. It'd be awesome to know what tasks people are automating and what tools they're using to do it.

[2014-01-13 01:32] LauraRoman commented on #19
Daniel,

We would like to focus on the questions below. Would you please in turn
clarify how the recording will work, logistics, etc.?

Thanks,

Laura

What is [Groupon] for those who may not know?
What parts are served by Node?
What version of Node in prod?
What modules do you use?
How do you use the cluster module? Do you oversubscribe your CPUs?
Describe your tech stack.
Do you use promises?
Do

[2014-01-13 15:33] floating commented on #19
@LauraRoman Hey Laura, I emailed you to get some info and clear up some questions. Email me back when you can at nodeup@gmail.com. Thanks!

[2014-01-13 16:38] LauraRoman commented on #19
Hey, will forward info when the team gets back to me with it.

Sent from my iPhone

On Jan 13, 2014, at 7:33 AM, "C. Jordan Muir" notifications@github.com wrote:

[2014-01-13 23:57] #25 closed, assigned to dshaw

[2014-01-15 22:24] sergioramos commented on #21
for those interested I've re-wrote my inverted index: https://github.com/ramitos/inverted

It supports:
- pagination
- facets
- sift3/cosine distance
- tf-idf ranking
- stopword removal
- stemming
- diactrics replacement
- number support

[2014-01-15 23:40] eugeneware commented on #21
@ramitos nice!

[2014-01-15 23:41] sergioramos commented on #21
@eugeneware thanks ;)

[2014-01-16 03:28] Oobert opened #30 "Generators and Fibers"
It would be nice to get some background on them. Some pros and cons and what are people's experiences are with them. Much like the docker show.

[2014-01-16 08:25] fergiemcdowall commented on #21
@ramitos v nice. Especially the sift3/cosine distance stuff.

[2014-01-16 23:00] dshaw commented on #19
Thank you all for contributing to a great show. :heart_decoration:

[2014-01-16 23:00] #19 closed, assigned to nobody

[2014-01-19 23:06] sergioramos commented on #21
@fergiemcdowall thank you :)

Btw, it still needs tests on some parts of the API.

[2014-01-21 05:32] dshaw commented on #28
:+1:

[2014-01-21 15:14] bmathews opened #31 "Incorrect episode 58 download url on mobile nodeup.com"
The 'Download MP3' url for the mobile nodeup.com is pointing to an episode 57 mp3.

[2014-01-22 19:49] floating commented on #31
Thanks, fixed.

[2014-01-22 19:49] #31 closed, assigned to nobody

[2014-01-27 21:30] indexzero opened #32 "NodeUp: an npm show"
Moving @floating discussion from email to Github. @janl and myself are confirmed for _Thursday, 2/6/14, 11am PT (UTC-8)._

Looking for responses from @dshaw @isaacs @seldo.

[2014-01-30 15:56] dshaw commented on #26
I imagine we should schedule this for when @othiym23 gets back from holiday, so some time in March.

[2014-01-30 16:06] drudge commented on #4
+1

[2014-01-30 16:06] christopherdebeer commented on #13
+1

[2014-01-30 16:07] grahamb commented on #4
:+1:

[2014-01-30 16:10] nizaroni commented on #4
Kind of related: I'm also interested in the different kinds of hosting that people use.

[2014-01-30 16:10] optikfluffel commented on #13
+1

[2014-01-30 16:10] optikfluffel commented on #2
+1

[2014-01-30 16:16] mikekunze commented on #14
_bump_  looking forward to getting a better sense of where node is going with realtime and what the big players are going to be.

[2014-01-30 16:16] dshaw commented on #2
@mcculloughsean Would you like to be on this show?

[2014-01-30 16:33] bryanburgers commented on #4
Related: when running a SOA, how does one cluster of components know about another cluster of components.

E.g., if there are load balanced webservers web-A, web-B, web-C, and authentication servers and auth-X, auth-Y, how does information get to web-\* that auth-Y was taken offline or auth-Z was spun up to handle more load? And how do web-\* decide which auth-\* to hit?

[2014-01-30 16:36] vincentmac commented on #30
I'm interested in generators too.

[2014-01-30 16:45] bryanburgers commented on #15
:thumbsup:

[2014-01-30 16:45] bryanburgers commented on #14
:thumbsup:

[2014-01-30 17:52] mcculloughsean commented on #2
@dshaw Sure. I'd highly recommend getting @michaelficarra involved too.

[2014-01-30 18:01] PaulMougel commented on #13
:+1:

[2014-01-30 18:10] ben-ng commented on #13
+1

[2014-01-30 18:17] hackygolucky commented on #26
Sounds good. I imagine it'll be crazytown around JSFest, but I'll be in SF
for it if that helps. We're supposed to be running KnodeCamp and that might
make for an interesting jumping off for more to come. I believe
@nvcexploder will be up in PDX and @chrisdickinson is still up in the air.

Happy to schedule later in the month if that helps.

Thoughts?

On Thu, Jan 30, 2014 at 7:56 AM, Daniel Shaw

[2014-01-30 18:23] mcollina commented on #13
When we want to do this, I'm still available!

[2014-01-30 18:30] dshaw commented on #26
Great. Maybe we can all get together in the lovely @newrelic studio and record in person live.

[2014-01-30 18:31] dshaw commented on #2
@mcculloughsean Sounds good.

[2014-01-30 19:23] uris77 commented on #2
+1 for this show.

[2014-01-30 19:24] uris77 commented on #1
+1

[2014-01-30 19:25] aseemk commented on #2
Sorry I never responded to my mention above: Thank you for the consideration. I'd be down!

[2014-01-30 19:25] tj commented on #2
whyyyy am i getting emails :(

[2014-01-30 19:26] tj commented on #2
@skw could you take me out of the desc? It won't let me unsub

[2014-01-30 19:32] dshaw commented on #2
@visionmedia Click the unsubscribe link on this issue? Haven't used that yet. (You know you want to be on this show! :smile: )

[2014-01-30 19:33] tj commented on #2
it keeps emailing me anyway haha, I have my settings set to email on mentions but I guess each comment here is a mention as well

[2014-01-30 19:40] dshaw commented on #2
Sucks. Sorry about that.

[2014-01-30 19:42] dshaw commented on #2
@visionmedia The original issue had you mentioned in it. I removed that mention. Hopefully that clears things up. :dancer:

[2014-01-30 19:44] tj commented on #2
I think that did it! thanks

[2014-01-30 20:01] mattpodwysocki commented on #1
I'd love to have @jhusain along for the ride as well since he uses RxJS at Netflix and can talk about how they use it in detail

[2014-01-30 20:18] jhusain commented on #1
I'd love to paticipate.

[2014-01-30 22:28] nvcexploder commented on #26
I can be down there.

On Jan 30, 2014, at 10:30 AM, Daniel Shaw notifications@github.com wrote:

[2014-01-30 22:34] hackygolucky commented on #26
\o/

On Thu, Jan 30, 2014 at 2:28 PM, nvcexploder notifications@github.comwrote:

[2014-01-30 23:12] #8 closed, assigned to nobody

[2014-01-30 23:51] rosskukulinski commented on #26
@hackygolucky I'm also in the BayArea

[2014-01-31 02:23] hackygolucky commented on #26
No kidding! @rosskukulinski Will you keep you in the loop.

[2014-01-31 18:12] dburrows commented on #4
+1, deep dive on prod setups of PayPal, Walmart, Trello, Joyent etc.

[2014-01-31 19:57] jxson commented on #2
I highly recommend @davidguttman

[2014-01-31 20:16] michaelficarra commented on #2
If you're looking for CoffeeScript maintainers, @satyr, @Nami-Doc, and I would all be fine choices. Though @satyr is Japanese and @Nami-Doc is French, so I can't vouch for their spoken English abilities.

[2014-01-31 20:25] davidguttman commented on #2
Sure, I'm down. Sounds like fun. Thanks @jxson =)

[2014-01-31 20:48] vendethiel commented on #2
I'm not that confident into my accent but at dotRB I've been able to speak and understand with english-talking people without much trouble, so I don't know (what do you mean "it's not hard to be better than most french ?". I'm kidding, of course -- ha ! I know we're bad at english. I'm much more familiar with american accents - I learned english mostly with RailsCasts). I certainly search words so

[2014-01-31 22:21] paulbjensen commented on #2
I'd totally be up for hearing from these peeps, I love CoffeeScript and I'll probably name my first born Jeremy in honour of the creator.

Sent from my iPhone

[2014-01-31 22:46] daviddias commented on #13
I would love to listen to this one! And while listening to the NodeUp, have @timfpark and @mcollina pop up robots for us to control remotely :D

[2014-01-31 22:48] emkay commented on #2
+1 for @davidguttman

[2014-01-31 23:15] mcollina commented on #13
I have something better: I can control a robot at your home :rotating_light:

[2014-02-01 02:28] timfpark commented on #13
I am building skynet to control all the robots.

(killer time traveling robots not included)

I can join whenever - let me know.

[2014-02-03 14:03] dshaw commented on #2
Paging @spikebrehm with the contrarian view of a CS codebase working back to JS.

[2014-02-03 19:23] spikebrehm commented on #2
I'd love to contribute with lessons from our experience at Airbnb working with a large JavaScript/CoffeeScript codebase with ~40 engineers contributing.  We introduced CS in 2011 and, being a Rails shop, we loved it, mostly for the `class` keyword and fat arrow.  But, we've since stopped writing CS, preferring idiomatic JavaScript.  Our switch was due to a few big reasons:
- CoffeeScript is optimi

[2014-02-03 19:29] vendethiel commented on #2
That should be better now, though.

That might be true, but that's also an anti-argument because it creates a vicious circle. If you want people to partake in a community, you need to be the first to do so. I understand, though, obviously.

[2014-02-03 19:54] uris77 commented on #2
Why can't it be that people like both? Liking and using CS shouldn't mean you don't use or dislike JS, and vice-versa. There seems to be an almost religious/fanatical following or 'perception' that does more harm than good. I personally use both and love both. Using different languages doesn't equate to cheating on your spouse. It seems to me that sometimes we tend to conflate them.

[2014-02-04 05:30] dshaw commented on #2
This is why we can't have nice things. :cake:

[2014-02-04 09:48] baliw commented on #30
bump

[2014-02-05 16:24] chrismatthieu commented on #13
I would love to join you guys on the show to talk about how my new open source @skynetim M2M IM project fits into Node.JS-powered IoT platforms.  We are using some of @mcollina MQTT technologies too!  Checkout this SkyNetIM + LeapMotion + NodeCopter video: http://www.youtube.com/watch?v=4iJYeK6wFBs

[2014-02-05 18:56] indexzero commented on #32
So turns out Thursday did not work for @isaacs, or @janl. Schedule roll call. I'm free Feb 9, 10, 11, 12, and 14.

[2014-02-05 18:59] janl commented on #32
Of these I can only do 9th and 10th. 9th preferred.

On 05 Feb 2014, at 19:56 , Charlie Robbins notifications@github.com wrote:

[2014-02-12 07:38] chirag04 commented on #14
pop!

[2014-02-13 21:10] dshaw commented on #2
:coffee: :ship:!

[2014-02-13 21:10] #2 closed, assigned to nobody

[2014-02-13 21:56] vendethiel commented on #2
Well then, looking forward to it :).

[2014-02-16 03:18] joyrexus commented on #1
+1.

Apropos @mattpodwysocki quote from the [JSJ podcast FRP episode](http://javascriptjabber.com/083-jsj-frp-and-rxjs-with-matthew-podwysocki/):

Also note the number of modules now on npm tagged [reactive](https://www.npmjs.org/browse/keyword/reactive), [rx](https://www.npmjs.org/browse/keyword/rx), or [frp](https://www.npmjs.org/browse/keyword/frp).

[2014-02-18 19:29] sameubank opened #33 "NodeUp: A Selling Node At Your Company Show"
To outsiders, Node.js appears to be a lot of hype, and some still don't take it seriously. What are the best arguments for using node? What are the best resources for conveying those arguments? Where are the performance improvement, workflow enhancement, and cost reduction numbers?

The growth of the Node.js community is dependent on adoption, and adoption by large companies is dependent on intern

[2014-02-19 11:31] gergelyke commented on #33
:+1:

[2014-02-19 16:47] hackygolucky commented on #33
This would be a wildly helpful show. I would love to hear
input/participation from the ops people at some of these companies, as this
has been a huge barrier to adopting node in prod for us. Security and
whitelisting a private npm especially.

On Wed, Feb 19, 2014 at 3:31 AM, Gergely Nemeth notifications@github.comwrote:

[2014-02-20 00:55] FredKSchott commented on #20
@dshaw @othiym23 Did this show ever happen? +1 if not, I'd love to see a show about CLS and the current state of AsyncListener. I'm sure it would blow a lot of peoples minds (I know it did for me :)

If you need more people, I'd be happy to share my experiences building our logging framework on top of it (see: http://fredkschott.com/post/2014/02/conquering-asynchronous-context-with-cls/)

[2014-02-20 01:00] dshaw commented on #20
@FredKSchott Dope.

We're currently waiting on @trevnorris to come back from paternity leave. Should be soon though.

[2014-02-20 01:11] FredKSchott commented on #33
I helped to bring Node.js to Box.com (a former PHP shop) and would be happy to share that experience. I was actually scheduled to give a talk at Node Summit last December on this exact subject, but sadly had to cancel at the last second. It was definitely a roller coaster though, and I learned a ton from it. Would be happy to share :)

[2014-02-20 02:55] dhigginbotham commented on #33
`+` :100: `* 1e5`

[2014-02-20 03:15] rosskukulinski commented on #33
+1 for @FredKSchott speaking on the topic.

[2014-02-20 18:41] othiym23 commented on #20
I love the idea of having @FredKSchott on to talk about building a logging framework with asyncListeners / CLS!

[2014-02-25 14:32] AsaAyers commented on #2
I didn't follow exactly who made the suggestion, but I opened an issue for [Catch comprehensions without parens](https://github.com/clutchski/coffeelint/issues/237)

[2014-02-25 14:42] brettkiefer commented on #2
@AsaAyers I was the one bemoaning this, and thank you for opening the issue! How . . . constructive.

[2014-03-02 00:04] jugglinmike opened #34 "NodeUp: A libuv Show"
libuv receives regular mention on NodeUp, but it's never been discussed in-depth. It would be good to hear about the library's responsibilities generally (outside of Node), how it integrates with Node, and other projects that depend on it.

[2014-03-02 19:16] dshaw commented on #34
:+1:

[2014-03-06 22:00] dshaw commented on #33
:heavy_plus_sign: @jeffharrell and @davglass

(Jeff doing this show does not in any way preclude NodeUp Teams: PayPal that we totally need to [create an issue](https://github.com/nodeup/contribute/issues/new) for too.)

I'm thinking April for both of these, no? :palm_tree:

[2014-03-06 22:01] dshaw commented on #33
Also, [NodeUp Teams: Yahoo!](https://github.com/nodeup/contribute/issues/new) and [NodeUp Teams: Box](https://github.com/nodeup/contribute/issues/new) need to happen.

[2014-03-09 00:45] jeffharrell commented on #33
@dshaw Let me know when and where and I'm there. We definitely had to do a lot of selling to bring node to PayPal.

[2014-03-09 05:33] wilmoore commented on #7
:+1:

[2014-03-22 09:10] gabrielf commented on #20
:+1: would listen!

[2014-03-24 20:21] floating commented on #20
@trevnorris @creationix @dazld Are you available to record this Thursday (3/27) at 11am PDT?

// @dshaw @othiym23‎

[2014-03-24 22:17] trevnorris commented on #20
Think that time works for me.

[2014-03-24 22:27] dshaw commented on #20
@FredKSchott @trevnorris Want to come to New Relic and record live?

[2014-03-24 22:29] othiym23 commented on #20
I'm available, although we'll need to reschedule a meeting here at NR.

@janaboruta is it OK with you / Thea the other members of the New Relic community team if we use the podcasting studio?

[2014-03-24 22:34] janaboruta commented on #20
@othiym23 That's fine with us. I'll ping you on Hipchat to discuss the logistics.

[2014-03-25 17:11] dazld commented on #20
Count me in.

[2014-03-26 16:42] FredKSchott commented on #20
+1 Count me in as well!

[2014-03-26 16:46] dshaw commented on #20
WORDS!! Let's do this.

@othiym23‎ @trevnorris @dazld @FredKSchott Please take a moment to drop an email to nodeup@gmail.com and dshaw@dshaw.com with your Google Docs friendly email, your Skype name and Twitter handle. Thank you!

[2014-03-27 14:00] charandas commented on #20
@dshaw will this be broadcasted live in any form?

[2014-03-27 14:05] creationix commented on #20
Sorry guys, I'm ultra busy and working 12 hours days this week to catch up.  It would be irresponsible for me to add another hour to my schedule.  On the bright side, @othiym23 knows fairly well my input into the conversation.

I've always wanted an event source hook in node for implementing things like nextTick, domains, long stack traces, etc.  I'm sad that event emitters are considered part of

[2014-04-10 17:01] #20 closed, assigned to dshaw

[2014-04-13 17:13] CodisRedding opened #35 "Scaffolding and Opinions"
Scaffolding, who's using it and why? Yeoman seems to have a shit ton of generators each with their own opinions on what's best practice. Right click on a random site and you're bound to run into scaffolding remains. Should teams new to node use them? What are the cons? on and on and on...

[2014-04-13 17:15] CodisRedding opened #36 "Angular and how it plays with Node"
idk. I really just want to hear pro-node people chat on this. maybe discuss why not to use it. someone qualified jump in here.

[2014-04-14 19:20] CrabDude commented on #20
I know this is closed and already recorded (haven't listened to it yet), but for the sake of the argument, AsyncListener is implemented at the wrong end of the stack to properly solve issues like long-stack traces, CLS and/or async try/catch properly without shimming EE to properly set the handler context differently (at time of handler listen, not time of EE construction).

FWIW, https://github.c

[2014-04-15 11:25] dshaw commented on #20
@CrabDude Thanks for connecting the discussion.

[2014-04-16 15:39] toblerpwn opened #37 "NodeUp: A Socket.IO 1.0 show"
## 6/6/14 at 2:00 PM PT
### [NodeUp #64](http://nodeup.com/sixtyfour)

With:
- @dshaw
- @guille
- @secoif

Topics:
- Socket.io 1.0
  - http://socket.io/
  - https://github.com/Automattic/socket.io

Original post from @toblerpwn:

[2014-04-16 19:07] dshaw commented on #37
@rauchg @3rd-Eden Anyone who we should pull in for this show?

[2014-04-16 19:16] rosskukulinski commented on #37
I'd also be curious to hear more about [Primus](https://github.com/primus/primus/) which seems to be gaining traction.

[2014-04-16 19:23] 3rd-Eden commented on #37
@dshaw you probably meant to mention @guille, damned confusing twitter/github handles ;-p

And I didn't do much on Socket.IO 1.0, I've only been fixing bugs in Engine.IO that got reported through Primus. So for pure Socket.IO 1.0 show, i'll probably be a bit useless.

[2014-04-16 19:30] nizaroni commented on #37
I think it would be far more interesting to focus on the state of WebSocket abstractions as a whole, but that may be too large a scope for a single show.

That said, I know almost nothing about Socket.IO 1.0 so a show about that would be valuable to me as well.

[2014-04-16 20:08] dshaw commented on #37
Totally agree @khalifenizar.

Thanks, @3rd-Eden (I double checked yours before posting :smile:.)

[2014-04-17 18:48] objectiveSee commented on #37
+1

Would love to hear about the new redis-store, or whatever Socket.io 1.0 is using.

[2014-04-17 18:49] rauchg commented on #37
+1

On Thu, Apr 17, 2014 at 11:48 AM, objectiveSee notifications@github.comwrote:

##

Guillermo Rauch (@rauchg https://twitter.com/rauchg)

[2014-05-12 04:46] rvagg opened #38 "A JavaScript BitTorrent show"
WIth @feross and @mafintosh, perhaps @deoxxa is still interested in this area too

[2014-05-12 05:21] eugeneware commented on #38
:+1:

On Mon, May 12, 2014 at 2:46 PM, Rod Vagg notifications@github.com wrote:

##

_Eugene Ware_
Chief Executive Officer

Phone: +61 3 9955 7041
Email: eugene@noblesamurai.com
Twitter: @EugeneWare http://twitter.com/EugeneWare

_Noble Samurai Pty Ltd_
Level 1, 234 Whitehorse Rd
Nunawading, Victoria, 3131, Australia

noblesamurai.com http://www.noblesamurai.com/ | eugeneware.com |
facebook.com/Eu

[2014-05-12 05:40] feross commented on #38
So down!

[2014-05-12 05:40] feross commented on #38
We should also have @astro on there!

[2014-05-12 05:48] dshaw commented on #38
Sounds great.

[2014-05-12 06:15] mafintosh commented on #38
Sounds awesome. I'm down

[2014-05-22 18:29] dshaw commented on #38
@feross @mafintosh @deoxxa @astro Want to do this on Saturday, May 22nd at 10:30am PT?

[2014-05-22 18:51] mafintosh commented on #38
Saturday is not the best day for me (I'm roaming around Oslo with no internet).
I'm back in Copenhagen Sunday 14:00 UTC though and any time after that fits me well.

I might be able to find a decent internet hotspot though if Saturday fits everyone else :)

[2014-05-22 19:45] astro commented on #38
11am PST (20pm CEST) is the earliest possible time for me.

[2014-05-22 22:56] deoxxa commented on #38
I think this is going to be right in the middle of preparations for CampJS,
of which I've somehow become a part, so I won't be able to make it.

On Friday, May 23, 2014, Astro notifications@github.com wrote:

[2014-05-22 23:22] dshaw commented on #38
Gah. OK. @feross @mafintosh @deoxxa @astro it looks like this Saturday's going to be a no go. I'm going to be at JSConf next week so I'm going to have to come back with an alternate date.

@deoxxa Happy CampJS!

@mafintosh Congrats on a great talk at Web Rebels. We'll get on soon. Safe travels.

[2014-05-22 23:27] mafintosh commented on #38
@dshaw Thanks! In general I'm pretty flexible timewise. Looking forward to this nodeup!

[2014-05-23 01:51] feross commented on #38
@dshaw sounds good. looking forward!

[2014-06-03 23:57] DamonOehlman commented on #37
I don't think it should be a pure Socket.IO show as I imagine a few people (such as myself) have moved across to using primus instead of Socket.IO.  I certainly think it would be useful for @3rd-Eden to get involved and to have a discussion around "when is a good time to use Socket.IO and when is a good time to use Primus" (it may just be that it's a matter of personal preference).  And maybe even

[2014-06-04 00:01] dshaw commented on #37
@DamonOehlman That ship has sailed. Also, there is not a finite number of NodeUps. Please feel free to propose new show(s).

[2014-06-04 00:07] DamonOehlman commented on #37
@dshaw I should pay more attention, and yes will do.

[2014-06-06 23:06] dshaw commented on #37
Show should be soon!

[2014-06-06 23:06] #37 closed, assigned to nobody

[2014-06-06 23:08] dshaw opened #39 "NodeUp: MyDB and incremental datastorage"
## TBD
### NodeUp ?

With:
- @dshaw
- @guille

Topics:
- MyDB

[2014-06-08 21:51] FredKSchott commented on #34
:+1:

[2014-06-08 22:14] FredKSchott opened #40 "NodeUp: A Callback Convention Show"
@getify, @crabdude, and myself have all taken stabs at this, but there still isn't an agreed upon callback contract within the community. Conversations around the topic are usually enthusiastic, but twitter and 140 characters does not a good forum make.

NodeUp could be an interesting place to have this conversation with & in front of the community. Not necessarily to come to an agreement, but to

[2014-06-12 01:40] mgan59 commented on #20
:+1:

[2014-06-14 01:48] othiym23 opened #41 "NodeUp: An ES6 modules show."
ES6 is nearing completion! The ES6 module system and module loader proposals are nearly finished after an immense pile of work from Sam and Dave!
- HOW do ES6 modules work?
- HOW do they compare to CommonJS and AMD?
- WHAT is all this about static analysis?
- WHY should Node adopt the new syntax?
- WILL substack hate them forever?
- WILL Node core adopt them?
- HOW does something like `jspm` figur

[2014-06-14 01:49] dshaw commented on #41
Yes, @othiym23. Definitely you. :+1:

[2014-06-14 05:14] groundwater commented on #41
This would be fantastic; may I suggest a few topics
1. basic usage
2. how I would use es6 modules in node
3. will I have to rewrite everything?
4. what is TC39, and why do I keep hearing about them?
5. what's set in stone, what's still being debated
6. how can i help?

[2014-06-14 16:07] visnup commented on #41
@eventualbuddha please.

[2014-06-14 16:08] daviddias commented on #13
Still can't wait for this one! :D

[2014-06-14 16:09] daviddias commented on #38
What about extending it to P2P in the browser and all the WebRTC goodness? :)

[2014-06-14 16:19] octoblu commented on #13
+1

[2014-06-15 00:15] sindresorhus commented on #34
:+1:

[2014-06-19 17:58] Qard commented on #41
+1

It'd also be good to mention options for transpiling from ES6 modules to CommonJS for backwards compatibility. (https://github.com/square/es6-module-transpiler)

[2014-06-19 18:00] Qard commented on #34
:+1:

[2014-06-19 18:08] Qard commented on #33
Private npm and performance monitoring would be good topics. Also, a mention of npm shrinkwrap might be good for ops that want to freeze the code before deploy. Service registry options (etcd, zookeeper, doozer, consul) might also be good.

[2014-06-19 21:46] eventualbuddha commented on #41
I'd be interested in chatting.

[2014-06-19 21:50] yoshuawuyts commented on #41
Very curious as to why they chose to invent a new syntax instead of adopting commonjs, and expanding on that.

[2014-06-20 09:48] groundwater commented on #41
I had a few very useful (if not extremely blunt) discussions with @othiym23 about ES6 modules.

I learned that there are a lot of subtle problems that the authors were trying to solve, which are not obvious from the outside. I suppose until now, the only true way to learn what all these constraints were was to read the _es-discuss_ mail list, but I think it would be great to assume nobody listenin

[2014-07-08 23:07] timoxley commented on #40
This issue has been discussed in a previous nodeup. Convention unanimously error first, and once async always async ([don't release zalgo](http://blog.izs.me/post/59142742143/designing-apis-for-asynchrony)).

[2014-07-08 23:08] timoxley commented on #40
AFAIK

[2014-07-08 23:24] getify commented on #40
That agreement is fine but it doesn't address the more strict questions that @crabdude [has posited](https://gist.github.com/CrabDude/10907185).

[2014-07-09 22:33] dshaw commented on #40
@FredKSchott I'm down

[2014-07-09 23:32] CrabDude commented on #40
Sounds good to me.

[2014-07-09 23:40] getify commented on #40
Me too :)

[2014-07-09 23:44] getify commented on #40
As an anecdote, I just added an adapter to [asynquence](http://github.com/getify/asynquence) that allows you [create wrappers around several (six, in fact) variations](https://github.com/getify/asynquence/blob/master/contrib/README.md#function-wrapping-adapter) of function signature around callbacks (params-first vs params-last, errfcb vs splitcb vs simplecb) -- see the six config options.

It's a

[2014-07-10 21:21] hughsk opened #42 "NodeDown/NodeUp: a WebGL show"
Spoke to @timoxley about doing a show on WebGL, bringing in the [gl-modules](http://github.com/gl-modules/) team to talk about node and graphics and shaders and the like: @mikolalysenko, @chrisdickinson, @tmpvar and myself.

[2014-07-14 22:43] dshaw opened #43 "NodeUp: Breach"
## 7/14/14 at 1:30 PM PT
### NodeUp #?

With:
- @dshaw
- @spolu
- @alevizio
- @guille
- @goldwater

Topics:
- Breach - A browser for the HTML5 era
  - http://breach.cc/
  - https://github.com/breach/breach_core

[2014-07-14 23:02] spolu commented on #43
Awesome. @guille and @alevizio should be OK for it as well.

[2014-07-14 23:03] dshaw commented on #43
Great. Glad to hear that!

[2014-07-15 02:40] rvagg opened #44 "A content platform show"
* KeystoneJS - @jedwatson - http://keystonejs.com/
* DocPad - @balupton - http://docpad.org/
* Ghost - @ErisDS - https://ghost.org/

Roughly in the area of CMS / blogging / site generation

[2014-07-15 02:53] balupton commented on #44
Woot woot.

[2014-07-15 15:53] groundwater commented on #43
~~:thumbsdown: I'm down~~ sorry I can't make it

[2014-07-16 20:07] FredKSchott commented on #43
+1 This sounds rad, looking forward to hearing it

[2014-07-17 03:10] JedWatson commented on #44
Sounds great, would love to join in.

[2014-07-18 20:43] davidkaneda commented on #44
Hey hey :) @davidkaneda - http://buckets.io

[2014-07-21 01:26] bmathews commented on #24
Any updates on the new website @floating?

[2014-07-21 22:07] #43 closed, assigned to dshaw

[2014-07-27 05:58] rvagg opened #45 "An npm client update show"
@timoxley and @othiym23

and that's about it I reckon

[2014-07-27 20:02] othiym23 commented on #45
Topics:
- extensibility through API extraction vs additional lifecycle hooks
- finding the right coupling and cohesion balance for various npm components (and how that process is inevitably iterative / accordion-like)
- using this to lay the groundwork for an explicit architecture for the npm CLI
- documenting and / or specifying the registry API
- and using that as a way to make the code base mor

[2014-07-27 23:08] rvagg commented on #45
@othiym23 do you have a rough target date for 2.0.0? It'd be good to time this approximately with that release.

[2014-07-28 00:54] othiym23 commented on #45
@rvagg Not a date, but the main blocker for the release of 2.0.0 is updating the cache to properly deal with pulling packages from multiple registries. Right now this is contingent on me extracting the cache functionality into `npm-cache`, which feels like it's probably a few weeks' work with no distractions. "With no distractions" is the challenging part of that last sentence. ;)

[2014-08-04 07:13] timoxley commented on #45
@othiym23 @floating @domenic cc @rvagg

Is everyone ok to do this this week? The times below seem most reasonable. We typically record on Tuesdays but I'm flexible with date and time.

[![image](https://cloud.githubusercontent.com/assets/43438/3794023/accc73d0-1ba5-11e4-8422-85a5db2d018b.png)
![image](https://cloud.githubusercontent.com/assets/43438/3794062/6f1c4e88-1ba6-11e4-9b69-d654e97d875c.png

[2014-08-04 07:15] timoxley commented on #45
edit: added @domenic

[2014-08-04 07:31] domenic commented on #45
Any of the times that are NYC evening (including @timoxley's preferred time) work well for me.

[2014-08-04 14:01] othiym23 commented on #45
@timoxley's preferred time works well for me! As do most of the others!

[2014-08-04 18:05] timoxley commented on #45
your call @floating

[2014-08-04 18:34] floating commented on #45
@timoxley's preferred time works! I will send out a doc.

[2014-08-05 06:03] timoxley commented on #45
@domenic @othiym23 I've updated the doc with some topics, I feel like we should use this opportunity to do some PSAs, since a big problem for npm is that people just don't know features exist or how to use them but this may be obvious/boring for people as it's the same material we've been talking about for the last few months – I'm happy to move on to new topics, feel free to get in there and chan

[2014-08-08 00:42] #45 closed, assigned to nobody

[2014-08-08 00:43] #38 closed, assigned to nobody

[2014-08-10 13:19] astro commented on #38
did http://bitlove.org/nodeup/nodeup get a mention?

[2014-08-10 22:39] feross commented on #38
@astro no, that particular url didn't get a mention. i didn't even know about it! but, we did mention you as someone to follow on twitter for people interested in p2p!

[2014-09-02 22:39] dshaw opened #46 "NodeUp Live at JSFest Oakland"
I would love suggestions for a theme. The framework debate show was awesome... though tragically ephemeral since we couldn't record it.

This time we'll be in <strike>Emeryville</strike>Oakland. Let's have some fun.

What topic should we cover and who should we have on the panel?

[2014-09-03 02:15] #32 closed, assigned to nobody

[2014-09-05 16:43] floating commented on #42
Recorded

[2014-09-05 16:43] #42 closed, assigned to nobody

[2014-10-01 19:48] bmathews commented on #24
(srsly dying over here trying to find a stream on the mobile site)

[2014-10-01 20:39] bmathews commented on #24
(and if there's anything we can do to help, let us knoww!)

[2014-10-01 23:55] dshaw commented on #24
:+1:

[2014-10-15 01:22] #13 closed, assigned to nobody

[2014-10-23 09:35] rvagg opened #47 "OSS governance show"
Perhaps it's time we had a governance model fistfight?

Representing radical openness: @mikeal & @rvagg

Representing BDFL: @hueniverse and maybe @isaacs

Representing ... ? What other camps could we pull in here?

[2014-10-23 11:16] isaacs commented on #47
Representing this as a "fistfight" is kind of disingenuous, I think.  Like any complicated choice, there are cost/benefit tradeoffs with any governance model.  The important thing is to understand the differences and choose the best fit for a project's scope, size, and maturity.

[2014-10-23 11:17] isaacs commented on #47
Or maybe that just means I should be the referee in this boxing match? ;)

[2014-10-23 18:46] mikeal commented on #47
I'm suppose to start doing a "First Sunday" of every month show that is about Node Forward activity. Perhaps this can be the first topic.

[2014-10-23 20:25] dshaw commented on #47
@mikeal Sounds great

[2014-12-06 02:19] rvagg commented on #34
I'd love to do this show, would coincide well with libuv movind to its own org.  Can we collect some names of people on this? @saghul do you want to name 3 - 4 people that are involved in development or heavy downstream use of libuv that would provide interesting perspective on the project as distinct from Node (although people obviously want to hear about Node in this too).

/cc @indutny  @piscis

[2014-12-06 02:22] rvagg commented on #46
@mikeal is this scheduled? Want to provide input here?

[2014-12-06 02:26] rvagg commented on #40
This is a nice topic but could it span an entire show? Can someone outline 3 broad sections they would take 40mins to an hour or is this more like a quick 20min show?
I don't see a whole lot of.controversy here, in general there are strong conventions, outlined well by @crabdude in his gist, the only problem comes from browser abstractions leaking in where conventions aren't strong at all.

[2014-12-06 02:27] rvagg commented on #35
Good topic but is this more about tooling than scaffolding?

[2014-12-07 20:24] CodisRedding opened #48 "node.js & node/io.js update series would be great"

[2014-12-07 23:22] FredKSchott commented on #40
@rvagg yea it had been a bit more of a topic at the time that this was posted, @crabdude had just posted that gist and there had been some discussion on Twitter. I haven't heard the topic mentioned much since.

I doubt this would ever be a controversial topic, the format would probably be more educational / exploratory in nature (check the OP). I still think the discussion would be interesting, bu

[2014-12-08 08:43] saghul commented on #34
Hi Rod!

I myself am a libuv downstream (I wrote pyuv, which is what ultimately got me into libuv, not node). Tim (@creationix) has done a lot of work with Lua, I'm not sure who to name, but getting someone from Julia would be cool too. Microsoft recently released Kestrel (https://github.com/aspnet/KestrelHttpServer), it would be great to have someone tell us about it.

[2014-12-08 16:03] creationix commented on #34
Sorry if this is too much information for this thread, but I thought I'd share how I've been using libuv outside of node.js for the past few years.

I wrote three different libuv bindings for lua (the latest being what's current in the luvit/luv repo).  I also started bindings for @indutny's candor language https://github.com/creationix/candor.io and recently started on bindings for duktape https:

[2014-12-08 16:05] creationix commented on #34
I believe @brianleroux started on libuv bindings for JSC (JavaScriptCore) which I find very interesting and wanted to do myself, but never had time for some odd reason.

[2014-12-08 19:08] piscisaureus commented on #34
I'd be happy to join you there.

[2014-12-10 02:44] rvagg opened #49 "Developer mental health episode"
Would love to have a show on this topic, perhaps keeping it shorter than usual to optimise for maximum listenership.

My initial suggestions for guests are:

- @funkatron who apparently did a great talk at Nodevember, I don't know the specifics but I heard great feedback on it
- @GregBaugues who, while not active with Node, does a lot of speaking on this topic and I imagine could at least point us

[2014-12-10 02:52] dshaw commented on #49
+1000 yes!

[2014-12-10 03:06] funkatron commented on #49
I'm happy to do this. You can see a video of my talk from Nodevember here if you like: http://funkatron.com/osmi

[2014-12-10 03:06] aredridel commented on #49
I would be so into this. Both personal experience and those around me. Doubly so talking about the experiences minority voices have in tech, and the stresses that show up there.

[2014-12-10 03:06] aredridel commented on #49
And @funkatron's talk was amazing.

[2014-12-10 04:02] GregBaugues commented on #49
I'd be honored (and a goal of 2015 is to start doing more in Node so this
is a great kick in the pants).

How may I be of service to make this happen?
On Dec 9, 2014 7:44 PM, "Rod Vagg" notifications@github.com wrote:

[2014-12-10 04:26] rvagg commented on #49
OK, perhaps the path to making this happening _sooner_ rather than later is to outline some sections, then we can just drop that into a show doc and get rolling.

The format is normally 3 distinct show sections, separated by 3 sponsor spots, aiming for ~20 minutes per section but I personally think we'd be doing ourselves a disservice to let this go on too long because it'll make it more _skippabl

[2014-12-10 04:28] aredridel commented on #49
- Self care
- Recognizing distress
- Resources
- Asking for help
- stigma
- Community and its effects
- How marginalized people take the brunt of some things

[2014-12-10 04:56] rvagg commented on #49
Just talking to @floating about this one and we're agreeing that:
- Aim for ~30 mins total talk time
- Leave the sponsor read spots out of the middle of this so it can be a continual conversation
- Aim for getting it out by the end of the year

Working on @aredridel's list, here's my suggestion for a flow (doesn't need to be rigid):
- Introductions, backgrounds and expertise and any required discl

[2014-12-11 18:43] CrabDude commented on #40
@rvagg Yes, this topic is controversial.

Presently, I do an hour+ session on it in my Noderiety trainings in my weekly engagements. You could easily do 3 hour-long sessions on this.

Here's a rough outline:
1. Asynchrony
   a. What's a nodeback and why does a convention need a spec?
   b. What anti-patterns does the spec address?
   c. Why are Promises currently objectively superior to nodebacks

[2014-12-12 03:10] rvagg commented on #49
I'd like to try and schedule this for next week some time, the panel so far looks pretty good and is in the US, except I'm in Australia and I'm supposed to be on holiday next week so pinning down a time might be tricky. @floating can you try and organise some time suggestions and I'll see if I can make it? Otherwise I'm sure @dshaw can just take this one.

[2014-12-12 03:22] aredridel commented on #49
Sounds good; I'm busy until Wednesday, but free after.

[2014-12-12 21:16] CrabDude commented on #40
You can pretty much add the whole second half of this talk as a major contention point for asynchrony in node, ["Netflix JavaScript Talks - Version 7: The Evolution of JavaScript"](https://www.youtube.com/watch?v=DqMFX91ToLw&list=PLfXiENmg6yyU5kEHyo1kYkq7HEzBOoiTT)

TLDR; ES6/7 language features (Promises, async/await, Generators, Iterables, and Observables) are likely going to obviate callbacks a

[2014-12-12 21:58] getify commented on #40
Promises don't obviate callbacks, they simply let you pass callbacks to a different, more composable, more trustable mechanism. Generators(+promises) just hide where the callbacks are specified, async/await puts syntactic sugar on top of generators+promises, and observables even further abstract async functions into generators to allow multiple outputs.

No matter how much abstraction you layer on

[2014-12-13 12:25] rvagg commented on #40
The risk for this show is it simply devolves into an argument about Promises and ES6 and ES7 features and whether they are the magic that will save the world or the spawn of the hell. It's kind of difficult to have a balanced and calm and objective discussion about these things without it being completely lop-sided, and we're certainly not after a single-person rant either.

Note how quickly we've

[2014-12-13 17:41] CrabDude commented on #40
I'll respond more fully later, but I did want to mention that the devolution of the argument is in fact an indication that there is something good and of value beneath the surface, we just need to extract it and avoid the noise, and flames.

Also, my last comment was because the recent Netflix talk really drove home to me how objectively superior from a language integration and composability persp

[2014-12-13 22:01] CrabDude commented on #40
@rvagg

Yes. You are completely right. Any discussion would need to be focused and not just conjecture or opinion.

If there's interest, I propose the following outlines for 2 separate discussions:

####Callback Contracts (no promises)
1. What are common anti-patterns are their solutions?
2. What would a formal callback contract look like?
3. How do we enforce the callback contract? (manual, contr

[2014-12-16 02:05] floating commented on #49
Do either of these work?

Option 1:
 Wednesday(12/17)  @ 2pm  (San Francisco)
 Wednesday(12/17) @ 5pm  (New York)
 Wednesday(12/17) @ 10pm (GMT)
 Thursday(12/18) @ 9am  (Sydney)

Option 2:
  Thursday(12/18) @ 2pm  (San Francisco)
  Thursday(12/18) @ 5pm  (New York)
  Thursday(12/18) @ 10pm (GMT)
  Friday(12/19) @ 9am  (Sydney)

[2014-12-16 04:03] rvagg commented on #49
I can make either work I think.

[2014-12-16 04:23] aredridel commented on #49
Works for me. I'll grab a quiet room at work.

[2014-12-16 05:30] GregBaugues commented on #49
Either works for me as well.
On Dec 15, 2014 10:23 PM, "Aria Stewart" notifications@github.com wrote:

[2014-12-16 14:21] funkatron commented on #49
I think I can do either one. Would need it nailed down soon to make plans.

On Mon, Dec 15, 2014 at 9:05 PM, C. Jordan Muir notifications@github.com
wrote:

[2014-12-16 18:55] floating commented on #49
Let's do Option 2.

[2014-12-16 18:57] floating commented on #49
Just shared the doc with everyone, add your thoughts and we can organize them before the show.

[2014-12-17 03:07] rvagg commented on #49
@floating I hope you don't mind but I'd like to try something a bit different. I've made the doc commentable by anybody with the link.

Here's the show notes for anybody interested in adding suggestions before we start recording: https://docs.google.com/document/d/1Ucm0Jgl2fbtM7yJ359UxU83zpxdvDl4znLwJMiXdEy0

[2014-12-17 03:36] jfhbrook commented on #49
Discuss causes and symptoms. Aim for variety. There are many manifestations of mental illness besides anxiety and depression, and not all of them are caused by overworking (which can be treated with vacation time).

Stigma is important. It's not just a matter of "don't be embarrassed," it can potentially have serious repercussions in both friendships and professional life---not just from admitting

[2014-12-17 03:53] eugeneware commented on #49
As most developers tend to be left-brained and fact-oriented, I've found that the scientific research around causes and the effectiveness of different treatments from the Department of Psychology, KU very useful and very practical to treat depression.

The highlights are in this TED video: https://www.youtube.com/watch?v=drv3BP0Fdi8

And the specific recommendations summarised on this page: http:/

[2014-12-17 10:35] balupton commented on #49
This would be amazing.

Two people in the scene whose talks have impacted me greatly in this area are Brian Brennan:
https://www.youtube.com/watch?v=LlO2_GecWo8

and Jenn Turner:
https://www.youtube.com/watch?v=0_mgp_VWIe0

I also love how people like Isaac Schlueter open up about this too:
http://blog.izs.me/post/87902115343/re-maven-is-like-my-girlfriend

Myself doing my part to:
https://github.

[2014-12-18 11:24] rvagg commented on #49
@GregBaugues have you been getting the emails btw? You're the only one missing from the details section of the doc so we don't even have your Skype details yet.

[2014-12-18 18:03] GregBaugues commented on #49
Hey sorry for the delay. First week back from paternity leave so I'm a bit
behind on things. I'll be back at my desk in two hours. Will update my info
prior to the podcast.
On Dec 18, 2014 5:24 AM, "Rod Vagg" notifications@github.com wrote:

[2014-12-18 20:07] GregBaugues commented on #49
When are y'all expecting this podcast to go live?

On Thu, Dec 18, 2014 at 12:03 PM, Greg Baugues greg@baugues.com wrote:

##

Greg Baugues
312.952.6796
baugues.com http://www.baugues.com

[2014-12-22 05:45] netpoetica commented on #49
Some additional discussion items, if time permits:
- long-term effects of failing to recognize your health slipping away. It's easy to miss the tipping point between occasional detrimental behavior and when that behavior becomes your everyday routine.
- symptoms in open-source vs. workplace. I haven't personally met anyone who has become "mentally ill" (as far as someone as unqualified as myself c

[2014-12-23 05:00] balupton commented on #49
I kind of wrote about this recently: https://medium.com/@balupton/surviving-free-culture-f99b39ceb059

[2014-12-24 02:18] egdelwonk commented on #49
Great episode, ya'll. Thanks for putting it together @dshaw.

[2014-12-24 03:03] dshaw commented on #49
<3

[2015-01-05 02:15] rvagg commented on #48
this is sort of happening already with @mikeal having a regular spot to do an io.js show, one's being scheduled to be recorded this week I think

[2015-01-05 02:16] rvagg commented on #46
@dshaw this issue can be closed

[2015-01-05 02:16] rvagg commented on #44
@dshaw this issue can be closed

[2015-01-05 02:37] CodisRedding commented on #48
^

[2015-01-05 02:58] #44 closed

[2015-01-05 14:55] balupton commented on #44
nodeup.com/seventynine

[2015-01-05 19:37] dshaw commented on #46
@rvagg Added you as admin. Thank you.

[2015-01-05 19:37] #46 closed

[2015-01-20 06:22] timoxley opened #50 "6to5 show"
6to5 is hot right now.

Let's do a 6to5 show with @sebmck & @zloirock to talk about both 6to5 and corejs purpose, status, the es-next merger, problems, future, lesser known features, etc.

[2015-01-20 06:35] timoxley opened #51 "v8 performance show"
I'd love to be able get @mraleph on a show to pick his brain about JavaScript performance concerns, such as optimisation killers & myths.

Would like to cover performance concerns of new ES features.
e.g. maybe they're slower now but do any new features offer better potential optimisation options for the future?

Similarly, I'd like to get @trevnorris (or someone else from io.js core with a perfor

[2015-01-20 06:40] timoxley commented on #40
Sounds like a good show to me. I'd be happy to run that, I'm not emotionally invested in either camp.

@jonathanong would be good fuel for the fire.

Should probably pull in a TC member, maybe @bnoordhuis.

[2015-01-20 06:42] timoxley commented on #49
@rvagg This can be closed :+1:

[2015-01-20 06:55] sebmck commented on #50
Sounds awesome! ES6 is definently a hot topic right now with the release of io.js and the barrier to entry being heavily reduced.

[2015-01-20 07:08] jonathanong commented on #40
don't feel like bikeshedding on control flow in public...

my only opinions are primarily:
- promises + async/await. generators are only a stop gap and should never be exposed in a public API.
- uncaught exceptions means you wrote bad code somewhere and will become less of an issue w/ promises and async/await. i do not believe node core should focus on solving the problem of uncaught exceptions. u

[2015-01-20 08:10] #49 closed

[2015-01-20 10:57] timoxley commented on #40
@jonathanong that is great content. Even if you just read this aloud I think it's worth getting you on board.  I'd also like to discuss things like the recent changes in co (thunks -> promises) and also your work on mz.

[2015-01-21 00:14] bnoordhuis commented on #40
I want to politely decline, I'm not really cut out for interviews or debates.

[2015-01-31 16:35] floating commented on #50
http://nodeup.com/eightytwo

[2015-01-31 16:35] #50 closed

[2015-02-17 17:09] floating commented on #34
http://nodeup.com/eightythree

[2015-02-17 17:09] #34 closed

[2015-02-17 17:18] jugglinmike commented on #34
Thanks, Nodeup--I'm really looking forward to this one :)

[2015-04-08 09:49] balupton commented on #49
The link to this node up episode is at: http://nodeup.com/eighty

---

Follow up discussions on developer mental health can probably happen on this repo: https://github.com/reignite/burnout.io

[2015-04-09 03:02] GregBaugues commented on #49
Are you thinking of devpressed.com?

On Wed, Apr 8, 2015 at 4:49 AM, Benjamin Lupton notifications@github.com
wrote:

##

Greg Baugues
312.952.6796
baugues.com http://www.baugues.com

[2015-04-09 14:35] rhalff commented on #49
I'm thinking about devsuppressed.com to reverse engineer the methods of intelligence agencies.
And define the patterns they use for psychological manipulation.

It doesn't have to result into absolute facts or truth, but could lead to uplifting & insightful graphs.

[2015-07-08 23:22] bmeck commented on #30
@dshaw much has changed in this landscape; I am name dropping since twitter said to post opinions here but I feel like stale issues wouldn't be bumped

[2015-07-09 00:32] dshaw commented on #30
@bmeck Realistically, what needs to happen is for a show to come together is it needs a list of candidates for the show and a list of topics (e.g. https://github.com/nodeup/contribute/issues/9 ). Want to organize this one? Who else would be on?

[2015-07-09 01:04] rvagg commented on #30
perhaps pulling petkaantonov in to this to talk about his workers PR in io.js would be a way to tackle this, it's inching closer to being merged

[2015-07-09 04:42] dshaw commented on #30
And Jafar Husain, maybe?

[2015-07-09 15:30] davej opened #52 "GUIs and desktop apps with Node (Electron, TideSDK, nw.js, Qt)"
https://github.com/atom/electron/
https://github.com/TideSDK
https://github.com/qtproject
https://github.com/nwjs

I'm sure that there are many other interesting libs and tools in this area too.

[2015-07-09 15:32] bmeck commented on #30
I'll try and organize it, but I don't have the muster to host it.

Suggested Panel:
- Petka Antonov (https://github.com/nodejs/io.js/pull/2133)
- Luke Hoban (https://github.com/lukehoban/ecmascript-asyncawait
- Jafar Husain (https://github.com/jhusain/asyncgenerator)
- Someone from Meteor? They are the last bastion of Fibers to my knowledge (suggestions?)
- Alex Rauschmayer (http://www.2ality.com/

[2015-07-09 15:40] davej commented on #52
From trawling through recent commits, some potential guests might include: @zcbenz, @deepak1556, @rogerwang, @fairwinds, @arturadib

[2015-07-09 16:04] dshaw commented on #30
I'll reach out to some folks at Meteor

[2015-07-10 20:36] dshaw commented on #30
I invited @debergalis.

[2015-07-10 21:34] dshaw commented on #30
@bmeck We can sort out hosting. @rvagg, @timoxley or I could host. That said, I would really like to have you on this panel because I'd love to hear your thoughts on this.

[2015-07-10 23:45] benjamn commented on #30
I can talk about why we use `Fiber`s (aka coroutines) at Meteor.

Credentials: I work at Meteor, and I gave this talk at GOTO Chicago a couple months ago: http://benjamn.github.io/goto2015-talk

[2015-07-10 23:46] benjamn commented on #30
Oh, also, I'm the primary author of https://github.com/facebook/regenerator, which seems relevant?

[2015-07-11 16:32] debergalis commented on #30
Thanks @dshaw.  You want @benjamn from Meteor.

[2015-07-12 08:31] asbjornenge opened #53 "NodeUp: A distributed systems show"
Distributed systems; how can node help? :grin:

**Suggested topics**

* what is a distributed system?
* why is it relevant?
* why node?
* p2p
* dht
* scuttelbot
* ipfs
* hyperfs
* peernet (gossip)
* senecajs
* nanomsg
* containers
* microservices

**Suggested guests**

* mafintosh
* substack
* dominictarr

[2015-07-12 10:30] rvagg commented on #53
- @mafintosh
- @substack
- @dominictarr
- @ralphtheninja
- @juliangruber
- @feross

Can y'all help with coming up with an ideal panel for a distributed systems NodeUp? Ideal would be 3 people, can stretch to 4. Would be good to have a diversity of views and/or approaches on distrubuted & p2p, particularly if we can get people working in different parts of this area.

I'd love to do this and can ma

[2015-07-15 12:31] khalifenizar opened #54 "A Node.js build show"
I think it would be really cool to do a show on the work of the [Node.js build](https://github.com/nodejs/build) working group.

@rvagg has hinted multiple times on NodeUp at the the Node.js build and test infrastructure and it's always piqued my interest, being new to CI myself. Specifically, I'd like to know more about their frustration with the CI offerings out there and what the plans are for

[2015-07-15 13:24] rvagg commented on #54
yeah, I could ramble for a long time on this topic and it'd be an easy show to do.

@orangemocha and @jbergstroem and @misterdjules are obvious panelists

[2015-07-29 00:13] finnp opened #55 "NodeUp @ CCCamp"
Following up on https://twitter.com/rvagg/status/626181125438750720, we could do a NodeUp at CCCamp. There will be professional podcast equipment available that could be used for this. @KsenyaSerova is planning to do podcasting about decentralized stuff. So it would be a good fit to do a decentralized NodeUp there (https://github.com/nodeup/contribute/issues/53)

There will also be a bunch of othe

[2015-07-29 00:21] ralphtheninja commented on #55
:+1: Awesome idea!

[2015-07-29 02:57] rvagg commented on #55
:thumbsup: @maxogden has plenty of experience with NodeUp and could probably host it if there's good gear there and the ability to record. In my experience, shared microphones don't suffice, you need a microphone for each participant. Sitting around a snowball is suboptimal if that's what's available.

[2015-07-31 17:26] floating commented on #55
Sounds good, I will still do post production/editing, just need someone there to host and do the raw recording. Would you be interested in hosting @maxogden?

[2015-07-31 20:34] max-mapper commented on #55
yea can do

On Fri, Jul 31, 2015 at 10:26 AM, C. Jordan Muir notifications@github.com
wrote:

[2015-09-08 18:29] objectiveSee commented on #53
Adding a few more ideas from working in Node:
- Load Balancers (server discovery)
- Auto-scaling: Amazon Web Services, Elastic Beanstalk, Elastic Load Balancer
- Pub/Sub, inter-node communication, distributed memory systems (Redis)
- Database access (document level locking in a distributed environment)
- sharing preferences and secrets
- Web Sockets (balancing, session affinity, headaches)
- Deplo

[2015-09-08 18:37] objectiveSee commented on #29
I have a script that sends push notifications to millions of mobile devices. It runs over 24 hours and takes into account timezones. Node cluster is used to spawn off child processes that send a batch of pushes.  There are about 240 child processes created and killed in the lifetime of the process. Script can optionally does a User database update (such as award coins).

Here's the usage:

[code]

[2015-09-27 04:09] Trott opened #56 "Show Idea: LTS"

[2015-10-12 19:45] hairyhenderson opened #57 "Show notes missing from mobile site"
After listening to the show for a few weeks and being frustrated from day 1 about how I couldn't find show notes on nodeup.com (always on my phone), I finally visited it again - this time from my laptop. Imagine my surprise when the site looked _entirely_ different!

IMO, a simple enough "fix" would be simply to stop serving a separate mobile site, and serve the desktop site instead. Neither site

[2015-10-28 03:05] Trott commented on #56
Oh, hey, this is a thing that happened.

[2015-10-28 03:05] #56 closed

[2015-11-30 22:39] Fishrock123 opened #58 "(Core) "Internals" Show"
I think there is a lot of interesting an potentially valuable things that core contributors have as mostly or partial head knowledge and in context.

I suggest we have a show (or a series of shows, if the first works out well) where core contributors are able to somewhat ramble about:

- the parts of core they deal with the most, or have the most knowledge about
- the issue tracker
- architectural

[2015-11-30 22:44] yoshuawuyts commented on #58
Sounds interesting, I'd listen to this.

[2015-11-30 22:45] floating commented on #58
I like it too, will try to get something like this scheduled.

[2015-11-30 22:46] rvagg commented on #58
- buffers and how the implementation has changed over time (0.8 -> 0.10, 2.x -> 3.x) with @trevnorris
- timers with @Fishrock123
- openssl and crypto with @indutny, @shigeki and maybe @bnoordhuis if we can persuade him out of his cave
- something about tests with @trott who has been all up in there recently

[2015-11-30 23:22] trevnorris commented on #58
@bnoordhuis is the one that added multi-context support. that story would be interesting.

[2015-12-01 20:30] chrisdickinson commented on #58
I'd love to do one about streams or process bootstrapping or signal handling.

[2016-01-05 22:05] karlunho opened #59 "Swagger & Node Podcast"
Jeremy Whitlock and Scott Ganyo from Apigee would love to talk about Swagger and Node. Swagger is a API modeling language for RESTFul APIs (Think SOAP Equivalent for REST)

[2016-02-05 01:03] rvagg commented on #41
@bmeck this would be an interesting show right now, do you have thoughts on a panel that includes you to talk about the current state and some of the possible outcomes of spec fianlisation and implementation in Node?

[2016-02-05 02:39] bmeck commented on #41
Happy to do, but want tc39 as well. @caridy would be great if possible
On Feb 4, 2016 7:03 PM, "Rod Vagg" notifications@github.com wrote:

[2016-02-05 04:49] caridy commented on #41
:+1:

[2016-02-09 14:42] ScottONeal opened #60 "NodeUp: Hardening for Error Propagation and Post-Mortem Debugging"
After reading through this issue: https://github.com/nodejs/post-mortem/issues/16
and trying to establish my own battle hardened methodology for handling uncaught errors at run time and debugging post-mortem. It would be nice to have a conversation on industry best practices for designing your application to provide the maximal amount of information for debugging. I think this should also include

[2016-02-09 17:58] dshaw commented on #60
@ScottONeal Great topic. I have some producty answers to this topic. Beyond that work, the teams at Netflix, Joyent and Uber are doing some really interesting work in this space. Notably, these are all orgs that have either never gone Promises or have had to eliminate them to maintain observability. It would be nice to mix in a more positive Promises story too if it exists.

In the interim, folks

[2016-02-09 18:30] ScottONeal commented on #60
Thanks for the resource @dshaw! I have also noticed the traceability issues with promises and have tried to remove them, when possible.

Seems like Promises have introduced themselves almost everywhere in the ecosystem, while it's a nice abstraction, the costs/complexity are becoming a bit expensive when debugging!

[2016-02-11 22:47] chrisdickinson commented on #60
I'd be happy to represent the promises use-case if this comes up!

[2016-02-12 03:58] bmeck commented on #41
@floating would love your ear to setup the time for this.

[2016-02-12 16:08] floating commented on #41
@bmeck email incoming

[2016-02-17 22:21] floating commented on #41
@caridy did you get the scheduling email? waiting to hear back from you about setting this up episode. thanks!

[2016-02-17 23:51] caridy commented on #41
@floating I haven't get to that yet, but I promise that I will do it today, and I will be available on friday.

[2016-07-01 00:42] rvagg opened #61 "1:1 interview NodeUp series — who do you want to hear?"
Drop your ideas here for people that you'd like to hear from that may help you level up your Node

[2016-07-02 00:18] dshaw commented on #61
My apologies in advance for "summoning" these folks with this comment. 😬
- @tmpvar
- @rauchg
- @dannycoates
- @qard
- @brycebaril
- @ceejbot
- @dougwilson
- @Danese
- @danielkhan
- @aredridel
- @evanlucas
- @feross
- @groundwater - the artist formerly known as Goldwater
- @iarna
- @kstewart
- @indutny
- @julianduque
- @mafintosh
- @mcollina
- @misterdjules
- @nebrius
- @ofrobots
- @outsideris
- @o

[2016-07-02 00:24] indutny commented on #61
![giphy](https://cloud.githubusercontent.com/assets/238531/16537134/d3496474-3fc9-11e6-913a-74e8fb94aaf5.gif)
WHO MENTIONED ME?

[2016-07-02 01:27] Qard commented on #61
I'd love to hear from @rauchg on zeit and being effective with node in small businesses or small teams.

[2016-07-02 03:38] bnb commented on #61
@Qard That was my very first thought, and exactly why I came to this Issue (to request him). Very much would like to see an interview with @rauchg.

[2016-07-02 14:54] cdnadmin commented on #61
+1 for @indutny
+1 for @trevnorris
+1 for @dougwilson

[2016-07-03 13:18] mcollina commented on #61
I'm in, I like these things.

[2016-07-05 21:06] rauchg commented on #61
I'm down! Thanks @bnb @Qard

[2016-07-05 22:53] MylesBorins commented on #61
I'm into it

[2016-07-13 06:56] bajtos commented on #61
I'm in :loudspeaker:

[2016-07-13 07:25] indutny commented on #61
I can do it too.

[2016-07-13 08:10] saghul commented on #61
I'm game. 👍

[2016-07-13 12:43] evanlucas commented on #61
I'd be happy to do it!

[2016-07-13 17:38] rosskukulinski commented on #61
Same here!  Also containers, devops, etc

[2016-07-21 07:19] yjhjstz opened #62 "A Node.js language vs Go, Python , Erlang"
Is Node.js good enough to handle complicated application environment.

* Suggested topics
  * node vs Go
  * node vs Python
  * node vs Erlang
  * how to choose
  * node.js future

[2016-07-21 07:26] yjhjstz commented on #30
fibjs vs node.js , see https://github.com/xicilion/fibjs

[2016-07-21 15:18] yosbelms commented on #30
If any one wants to know about examples of heavy usage of generators for CSP, concurrency, parrallelism:
- A JS library http://github.com/yosbelms/getjs
- A language that compiles to JS http://github.com/yosbelms/cor

[2016-07-21 18:26] yosuke-furukawa commented on #61
Sounds so fun!

[2016-08-04 08:41] garrows commented on #57
I'm happy to contribute to the website if it was made open source.

[2016-10-04 10:59] amandeepmittal opened #63 "A Cross Platform Mobile Application of NodeUp"
How about a Hybrid Nodeup Application that runs using cross platform Ionic and Node.js?

[2017-01-05 09:59] JamesKyburz commented on #53
Would love this

[2017-01-05 18:26] dominictarr commented on #53
i suggest having two sessions, one distributed and one p2p. Although there
is some overlap in concepts, they are very different in spirit.

On Jan 5, 2017 22:59, "James Kyburz" <notifications@github.com> wrote:

[2017-01-06 00:07] ralphtheninja commented on #53
@rvagg Sorry, I completely missed your message over 1.5 years ago :) I'm currently not working on any project related to p2p (although I would love to take it in that direction). I currently work on stuff related to a mixture of

* mqtt (for pulling in data and also internal pub/sub)
* websockets
* z-wave
* openwrt
* docker (deployment based on `docker-remote-api` + tls)
* docker container orchest

[2017-01-06 15:57] JamesKyburz commented on #53
@dominictarr Sounds great!

I enjoyed the show on Docker, maybe this time a show more about the core concepts of going distributed using node?

[2017-01-06 16:00] JamesKyburz commented on #53
@ralphtheninja

Interesting mix!

Been also using docker + node but with nginx. Will have a look at traefik ;)

[2017-01-06 18:02] ralphtheninja commented on #53
traefik is awesome :)

[2017-03-11 19:54] ninabreznik opened #64 "How to monetize open source and activistic projects?"
I saw many discussions lately and maybe this topic would be nice to open and discuss. I would like to hear @substack @dominiktarr and @ferros for example...

[2017-05-06 12:55] #29 closed

[2018-10-26 04:58] rvagg opened #65 "Node News Round-up (November)"
Collecting newsy items for a round-up show in November.

Would love to hear about things in user-land, major releases, interesting articles/posts/books/talks, events, etc. We have core & foundation news pretty well covered but need help reaching out. Also happy to hear suggestions of news sources to tune in to.

[2018-10-26 18:04] dshaw commented on #65
* Node.js 10 LTS
* Node.js + JS Merger discussion

[2018-11-08 01:49] Trewaters commented on #65
I am in interested in hearing more about http2. I would also like to know why the crypto library isn't more secure.

Thanks for bringing Nodeup back!!

[2018-11-08 03:33] Trott commented on #65
Y'all should have @Trewaters on the show as a guest some time. Just sayin'.

[2018-11-08 13:49] Trewaters commented on #65
Thanks Rich!

If NodeUp is looking for people to help or be on NodeUp I would be happy to. I have made YouTube videos before but never been on a podcast. I listen to them a lot and would love to see NodeUp happen more regularly.